In [10]:
Sys.setlocale(category = "LC_ALL", locale = "en_US.UTF-8")

[1] "en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/C"

# Dependencies

In [11]:
pacman::p_load(ggplot2, gridExtra,ComplexHeatmap,circlize)

# Functions

# Paths

In [12]:
datapath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/"
plotpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Plots/"
manifestpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Manifests/"

gitpath <- "/Users/anabbi/git/ped_CapTCRseq/"

# Main

All csv files are from "Toronto expansion and NCR data 4.xlsx"

## Cleanup ATC file

On excel, copy row 2:end of "ATC count" sheet to a new spreadsheet, adjust columns:
" ID#	Age		FOLD	ATC	FOLD1	ATC1	FOLD2	ATC2	FOLD3	ATC3	FOLD4	ATC4"
save as ATC_count.csv

In [13]:
ATCs <- read.csv(paste0(datapath, "Flow/ATC_count.csv"),
                 header = T, check.names = F, stringsAsFactors = F, 
                 na.strings = c("NA","", "#DIV/0!","#VALUE!","#REF!"))

In [14]:
(ATCs[220:338,])

     ID# Age                          FOLD ATC     FOLD1 ATC1    FOLD2 ATC2
220 319  NA  HR ALL                   1.4     0.00 7.9      0.00 1.8     0.00
221 320  NA  AML                      8.9     0.00 3.5      0.00 13.2    0.00
222 321  NA  HD                       0       0.00 0        0.00 0       0.00
223 322  NA  DLBCL                    1.1     0.00 0.4      0.00 4.3     0.00
224 323  NA  HR ALL                   0     154.75 0     1397.28 0     786.24
225 324  NA  T-ALL                    0       0.00 0        0.00 0       0.00
226 325  NA  ERMS                     0         NA 0      927.46 0     624.72
227 326  NA  SR ALL                   0      77.52 0      400.14 0     122.08
228 327  NA  Hepatoblastoma           6.8     0.00 13.1     0.00 26.3    0.00
229 328  NA  SR ALL                   0     155.22 0      829.44 0     997.20
230 329  NA  HR ALL                   X         NA 22.3     0.00 74.6    0.00
231 330  NA  OS                       0.9     0.00 1.9      0.00 1.5     0.00
232 331  NA  SR ALL                   0       0.00 0        0.00 0       0.00
233 332  NA  ERMS                     8.2     0.00 x        0.00 2       0.00
234 333  NA  HD                       0       0.00 0        0.00 0       0.00
235 334  NA  HR ALL                   0     136.08 0      328.86 0     299.44
236 335  NA  Hepatoblastoma           0       0.00 0        0.00 0       0.00
237 336  NA  ALL                      0       0.00 0        0.00 0       0.00
238 337  NA  B lymphoblastic lymphoma 0       0.00 0        0.00 0       0.00
239 338  NA  AML                      0.8   942.34 5.1    644.68 16.8  329.29
240 339  NA  ALL                      0     173.25 0      111.02 0     376.20
241 340  NA  ALL                      0       0.00 0        0.00 0       0.00
242 341  NA  CML                      0       0.00 0        0.00 0       0.00
243 342  NA  AML                      2.4  9927.72 2.8      0.00 15      0.00
244 343  NA  Ewings                   1     219.30 0.3    459.04 0.6   370.30
245 344  NA  Burkitts                 0     247.80 0      829.08 0      80.04
246 345  NA  ALL                      0     287.00 0     1598.08 0       0.00
247 346  NA  NB                       0.8   331.70 0        0.00 0       0.00
248 347  NA  ALL                      0.8   126.72 6.4   1038.59 37.6  768.80
249 348  NA  OS                       11.5   50.96 3.2    437.50 3       0.00
... ...  ... ...                      ...  ...     ...   ...     ...   ...
309 408  NA  OS                       5.1   338.80 4.3     0.00  5.4     69.16
310 409  NA  Ewings                   2.9   156.78 1.8   338.13  0      198.09
311 410  NA  ALL                      1.6     0.00 0       0.00  0      179.34
312 411  NA  HR ALL                   4.4     0.00 3.2     0.00  17.9    35.88
313 412  NA  B cell lymphoma          6.5     0.00 0       0.00  0.9      0.00
314 413  NA  AML                      4       0.00 3.2    93.42  1.5    685.36
315 414  NA  Hepatoblastoma           0       0.00 0     802.76  0.8     73.80
316 415  NA  HD                       0       0.00 0     234.32  1.3    389.60
317 416  NA  ALL                      0      45.00 0      47.40  0        0.00
318 417  NA  ALL                      0     159.46 3.9    80.18  6.2     52.00
319 418  NA  NB                       0      18.48 1.4     0.00  0.5      0.00
320 419  NA  OS                       0     465.51 8.8   473.60  0.6   1690.20
321 420  NA  ALL                      0.7  1473.20 0.8   247.50  1.8      0.00
322 421  NA  ALL                      18.3    0.00 0.8     0.00  24.8   262.20
323 422  NA  ALL                      0.6  2136.39 0       0.00  0        0.00
324 423  NA  ALL                      3.4   839.96 4.5     0.00  13.9     0.00
325 424  NA  ALL                      0.9       NA 1.3   803.64  0        0.00
326 425  NA  Wilms                    0    2366.70 0       0.00  2.6      0.00
327 426  NA  RMS                      2.1   148.92 2.5     0.00  0.4      0.00
328 427  NA  RMS                      2.1  1617.11 0       0.00  0        0.00
329 428  NA  aLL                      0.9   823.68 0.9     0.00  0        0.00
330 429  NA  Wilms                    4     924.00 0       0.00  0        0.00
331 430  NA  PMBCL                    0.9    43.00 0       0.00  0        0.00
332 431  NA  RMS                      1.2     0.00 0       0.00  0        0.00
333 432  NA  OS                       2.7     0.00 0       0.00  0        0.00
334 433  NA  ALCL                     1.1     0.00 0       0.00  0        0.00
335 434  NA  HD                       4.5     0.00 0       0.00  0        0.00
336 435  NA  SML                      0       0.00 0       0.00  0        0.00
337 436  NA  OS                       0       0.00 0       0.00  0        0.00
338 437  NA  OS                       0       0.00 0       0.00  0        0.00
    FOLD3 ATC3    FOLD4 ATC4
220 1.5      0.00 1.2      0.00
221 x        0.00 0        0.00
222 0        0.00 0        0.00
223 4.7      0.00 1        0.00
224 0      563.68 0      979.50
225 0        0.00 0        0.00
226 0      163.77 0        0.00
227 0     1242.85 0      972.90
228 97.8     0.00 6.9      0.00
229 0      130.82 0       91.16
230 1.2      0.00 0        0.00
231 4.1      0.00 6.2      0.00
232 0        0.00 0        0.00
233 0.4      0.00 1.3      0.00
234 0        0.00 0        0.00
235 0       39.20 0          NA
236 0        0.00 0        0.00
237 0        0.00 0        0.00
238 0        0.00 0        0.00
239 1.9      0.00 0        0.00
240 0      447.95 0      421.94
241 0        0.00 0        0.00
242 0          NA 0        0.00
243 0        0.00 0        0.00
244 1.5    536.63 2.1    371.20
245 0        0.00 0      134.32
246 0        0.00 0        0.00
247 0        0.00 0        0.00
248 0.8   1542.25 2.6   1278.87
249 0        0.00 1        0.00
... ...   ...     ...   ...
309 4      58.46  3.5   159.80
310 0     522.07  0       0.00
311 0.6   411.72  0       0.00
312 0       0.00  0       0.00
313 1.4     0.00  0.6     0.00
314 2.6     0.00  0       0.00
315 8.1   712.05  3.9   302.72
316 0.6    51.59  2       0.00
317 0       0.00  0       0.00
318 0       0.00  0       0.00
319 0.6     0.00  1.2       NA
320 1       0.00  0       0.00
321 0       0.00  0       0.00
322 0       0.00  0       0.00
323 0       0.00  0       0.00
324 0       0.00  0       0.00
325 0       0.00  0       0.00
326 5.5     0.00  0       0.00
327 0       0.00  0       0.00
328 0       0.00  0       0.00
329 0       0.00  0       0.00
330 0       0.00  0       0.00
331 0       0.00  0       0.00
332 0       0.00  0       0.00
333 0       0.00  0       0.00
334 0       0.00  0       0.00
335 0       0.00  0       0.00
336 0       0.00  0       0.00
337 0       0.00  0       0.00
338 0       0.00  0       0.00

Subset to include patients 319 to 437

In [15]:
ATC_subset <- ATCs[220:338,]

In [16]:
ATCssubset1 <- ATC_subset[,c("FOLD", "ATC")]
ATCssubset2 <- ATC_subset[,c("FOLD1", "ATC1")]
ATCssubset3 <- ATC_subset[,c("FOLD2", "ATC2")]
ATCssubset4 <- ATC_subset[,c("FOLD3", "ATC3")]
ATCssubset5 <- ATC_subset[,c("FOLD4", "ATC4")]

In [17]:
head(ATCssubset5)

    FOLD4 ATC4
220 1.2     0.0
221 0       0.0
222 0       0.0
223 1       0.0
224 0     979.5
225 0       0.0

In [18]:
ATCssubset1 <- cbind(ATC_subset$` ID#`, ATCssubset1)
ATCssubset2 <- cbind(ATC_subset$` ID#`, ATCssubset2)
ATCssubset3 <- cbind(ATC_subset$` ID#`, ATCssubset3)
ATCssubset4 <- cbind(ATC_subset$` ID#`, ATCssubset4)
ATCssubset5 <- cbind(ATC_subset$` ID#`, ATCssubset5)

In [19]:
colnames(ATCssubset1) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset2) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset3) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset4) <- c("Patient", "FOLD", "ATC")
colnames(ATCssubset5) <- c("Patient", "FOLD", "ATC")

In [20]:
ATCssubset1$cycle <- "01"
ATCssubset2$cycle <- "02"
ATCssubset3$cycle <- "03"
ATCssubset4$cycle <- "04"
ATCssubset5$cycle <- "05"

In [21]:
myATCdf <- rbind(ATCssubset1, ATCssubset2,ATCssubset3, ATCssubset4,ATCssubset5)

In [22]:
head(myATCdf)

    Patient FOLD ATC    cycle
220 319     1.4    0.00 01
221 320     8.9    0.00 01
222 321     0      0.00 01
223 322     1.1    0.00 01
224 323     0    154.75 01
225 324     0      0.00 01

In [23]:
write.csv(myATCdf, file = paste(datapath, "ATC_df.csv", sep = ""),row.names = F)

## Clean up NCR file

Copy "NCRs pre" sheet to a new spreadsheet (values only), save as NCRs.csv

In [24]:
NCRs <- read.csv(paste0(datapath, "Flow/NCRs.csv"),header = T, check.names = F, stringsAsFactors = F, 
                 na.strings = c("NA","", "#DIV/0!","#VALUE!","#REF!"))

In [25]:
head(NCRs[221:nrow(NCRs),])

     ID# Age DX     TE Fold CD3 PD-1 PDL1 LAG3 TIM3 CTLA4 ... LAG3 TIM3 CTLA4
221 320   6  AML    NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
222 321  16  HD     NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
223 322  18  DLBCL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
224 323   1  HR ALL NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
225 324  12  T-ALL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
226 325   2  ERMS   NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
    PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
221 NA   NA    NA    NA    NA     NA      NA
222 NA   NA    NA    NA    NA     NA      NA
223 NA   NA    NA    NA    NA     NA      NA
224 NA   NA    NA    NA    NA     NA      NA
225 NA   NA    NA    NA    NA     NA      NA
226 NA   NA    NA    NA    NA     NA      NA

Subset to include patients 319 to 437

In [26]:
NCRssubset <- NCRs[220:nrow(NCRs),]

In [27]:
head(NCRssubset)

     ID# Age DX     TE Fold CD3 PD-1 PDL1 LAG3 TIM3 CTLA4 ... LAG3 TIM3 CTLA4
220 319   1  HR ALL NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
221 320   6  AML    NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
222 321  16  HD     NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
223 322  18  DLBCL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
224 323   1  HR ALL NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
225 324  12  T-ALL  NA      0   NA   NA   NA   NA   NA    ... NA   NA   NA
    PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
220 NA   NA    NA    NA    NA     NA      NA
221 NA   NA    NA    NA    NA     NA      NA
222 NA   NA    NA    NA    NA     NA      NA
223 NA   NA    NA    NA    NA     NA      NA
224 NA   NA    NA    NA    NA     NA      NA
225 NA   NA    NA    NA    NA     NA      NA

Get empty columns. They indicate serial samplesets for each patient

In [28]:
subsets <- grep("^$", colnames(NCRssubset))

In [29]:
subsets

 [1]  18  34  50  66  82  98 114 130 146 162 178 194 210 226 242 258 274 290

In [30]:
NCRssubset[ NCRssubset$` ID#` == "407",19:33]

    TE Fold Pass? CD3  PD-1 PDL1 LAG3 TIM3 CTLA4 PD1% PDL1% LAG3% TIM3% CTLA4%
308 NA      NA    2373 690  NA   116  690  NA    NA   NA    NA    NA    NA
    Any NCR PD1 + LAG3 + TIM3
308 NA      NA

Save each sampleset then rbind

In [31]:
NCRssubset1 <- NCRssubset[,1:17]
NCRssubset2 <- NCRssubset[,c(1:3,19:33)]
NCRssubset3 <- NCRssubset[,c(1:3,35:49)]
NCRssubset4 <- NCRssubset[,c(1:3,51:65)]
NCRssubset5 <- NCRssubset[,c(1:3,67:81)]

In [32]:
colnames(NCRssubset2)

 [1] " ID#"              "Age"               "DX"
 [4] "TE Fold"           "Pass?"             "CD3"
 [7] "PD-1"              "PDL1"              "LAG3"
[10] "TIM3"              "CTLA4"             "PD1%"
[13] "PDL1%"             "LAG3%"             "TIM3%"
[16] "CTLA4%"            "Any NCR"           "PD1 + LAG3 + TIM3"

In [33]:
NCRssubset1$`Pass?` <- NA

In [34]:
NCRssubset1$cycle <- "01"
NCRssubset2$cycle <- "02"
NCRssubset3$cycle <- "03"
NCRssubset4$cycle <- "04"
NCRssubset5$cycle <- "05"

In [35]:
myNCRdf <- rbind(
    NCRssubset1,
    NCRssubset2,
    NCRssubset3,
    NCRssubset4,
    NCRssubset5
)

Reorder columns and colnames cleanup

In [36]:
head(myNCRdf)

     ID# Age DX     TE Fold CD3 PD-1 PDL1 LAG3 TIM3 CTLA4 PD1% PDL1% LAG3%
220 319   1  HR ALL NA      0   NA   NA   NA   NA   NA    NA   NA    NA
221 320   6  AML    NA      0   NA   NA   NA   NA   NA    NA   NA    NA
222 321  16  HD     NA      0   NA   NA   NA   NA   NA    NA   NA    NA
223 322  18  DLBCL  NA      0   NA   NA   NA   NA   NA    NA   NA    NA
224 323   1  HR ALL NA      0   NA   NA   NA   NA   NA    NA   NA    NA
225 324  12  T-ALL  NA      0   NA   NA   NA   NA   NA    NA   NA    NA
    TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3 Pass? cycle
220 NA    NA     NA      NA                NA    01
221 NA    NA     NA      NA                NA    01
222 NA    NA     NA      NA                NA    01
223 NA    NA     NA      NA                NA    01
224 NA    NA     NA      NA                NA    01
225 NA    NA     NA      NA                NA    01

In [37]:
myNCRdf <- myNCRdf[, c(1,19,2:4,18,5:17)]

In [38]:
colnames(myNCRdf)[c(1,4,5,6)]

[1] " ID#"    "DX"      "TE Fold" "Pass?"

In [39]:
colnames(myNCRdf)[c(1,4,5,6)] <- c("Patient", "Disease_type", "TE_fold", "Pass")

Assign NA to all "x" values. These are samples that failed the flow experiment

In [40]:
myNCRdf$`PD-1` <- gsub("x", NA, myNCRdf$`PD-1`)
myNCRdf$LAG3 <- gsub("x", NA, myNCRdf$LAG3)
myNCRdf$TIM3 <- gsub("x", NA, myNCRdf$TIM3)

In [41]:
myNCRdf$`PD-1` <- as.numeric(myNCRdf$`PD-1`)
myNCRdf$LAG3 <- as.numeric(myNCRdf$LAG3)
myNCRdf$TIM3 <- as.numeric(myNCRdf$TIM3)

In [42]:
head(myNCRdf)

    Patient cycle Age Disease_type TE_fold Pass CD3 PD-1 PDL1 LAG3 TIM3 CTLA4
220 319     01     1  HR ALL       NA      NA   0   NA   NA   NA   NA   NA
221 320     01     6  AML          NA      NA   0   NA   NA   NA   NA   NA
222 321     01    16  HD           NA      NA   0   NA   NA   NA   NA   NA
223 322     01    18  DLBCL        NA      NA   0   NA   NA   NA   NA   NA
224 323     01     1  HR ALL       NA      NA   0   NA   NA   NA   NA   NA
225 324     01    12  T-ALL        NA      NA   0   NA   NA   NA   NA   NA
    PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
220 NA   NA    NA    NA    NA     NA      NA
221 NA   NA    NA    NA    NA     NA      NA
222 NA   NA    NA    NA    NA     NA      NA
223 NA   NA    NA    NA    NA     NA      NA
224 NA   NA    NA    NA    NA     NA      NA
225 NA   NA    NA    NA    NA     NA      NA

In [43]:
dim(myNCRdf)

[1] 595  19

Generate percentage NCRs

In [44]:
head(myNCRdf[ myNCRdf$Patient == "402",])

     Patient cycle Age Disease_type TE_fold Pass CD3  PD-1 PDL1 LAG3 TIM3 CTLA4
303  402     01    9   HR ALL       NA      NA   2452 24   NA   312  24   NA
3031 402     02    9   HR ALL       NA      NA   2487 18   NA   341  NA   NA
3032 402     03    9   HR ALL       NA      NA   2428 71   NA    20  71   NA
3033 402     04    9   HR ALL       NA      NA      0 NA   NA    NA  NA   NA
3034 402     05    9   HR ALL       NA      NA      0 NA   NA    NA  NA   NA
     PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
303  NA   NA    NA    NA    NA     NA      NA
3031 NA   NA    NA    NA    NA     NA      NA
3032 NA   NA    NA    NA    NA     NA      NA
3033 NA   NA    NA    NA    NA     NA      NA
3034 NA   NA    NA    NA    NA     NA      NA

In [45]:
# error in data entry, remove data for pt 402 sample 03
myNCRdf[(myNCRdf$Patient == "402" & myNCRdf$cycle == "03"), "LAG3"] <- NA
myNCRdf[(myNCRdf$Patient == "402" & myNCRdf$cycle == "03"), "TIM3"] <- NA
myNCRdf[(myNCRdf$Patient == "402" & myNCRdf$cycle == "03"), "PD-1"] <- NA

In [46]:
write.csv(myNCRdf,file = paste0(datapath, "NCR_df.csv"),row.names = F)

## Clean up T cells file

Copy "Pre Memory Subsets" sheet to a new spreadsheet (values only)

move the first 3 colnames up to align the the other colnames
remove row 2. save as Tsubsets.csv

In [47]:
Tcells <- read.csv(paste0(datapath, "Flow/Tsubsets.csv"),header = T, 
                 check.names = F, stringsAsFactors = F,
                 na.strings = c("NA","","#DIV/0!","#VALUE!","#REF!"))

In [48]:
head(Tcells)

   ID# Age DX                 TE Fold Pass? CD3 EM CM Naïve SCM ... Naïve SCM
1 100  22  BMT                0.53    0     NA  NA NA NA    NA  ... NA    NA
2 101   6  SR ALL             26.4    1     NA  NA NA NA    NA  ... NA    NA
3 102   6  SR ALL             8.11    1     NA  NA NA NA    NA  ... NA    NA
4 103   4  Burkitt's Lymphoma 3.2     0     NA  NA NA NA    NA  ... NA    NA
5 104   1  HR ALL             22.86   1     NA  NA NA NA    NA  ... NA    NA
6 105  14  HR ALL             30.91   1     NA  NA NA NA    NA  ... NA    NA
  TE EM% CM% Naïve% SCM% TE% Naïve/TE N+CM+SCM/TE+EM
1 NA NA  NA  NA     NA   NA  NA       NA
2 NA NA  NA  NA     NA   NA  NA       NA
3 NA NA  NA  NA     NA   NA  NA       NA
4 NA NA  NA  NA     NA   NA  NA       NA
5 NA NA  NA  NA     NA   NA  NA       NA
6 NA NA  NA  NA     NA   NA  NA       NA

Subset to include patients 319 to 437

In [49]:
Tcellsubset <- Tcells[220:nrow(Tcells),]

Get empty columns and seperate serial samples

In [50]:
grep("^$", colnames(Tcellsubset))

 [1]  19  35  51  67  83  99 115 131 147 163 179 195 211 227 243 259 275 291

In [51]:
Tcellsubset1 <- Tcellsubset[,1:18]
Tcellsubset2 <- Tcellsubset[,c(1:3,20:34)]
Tcellsubset3 <- Tcellsubset[,c(1:3,36:50)]
Tcellsubset4 <- Tcellsubset[,c(1:3,52:66)]
Tcellsubset5 <- Tcellsubset[,c(1:3,68:82)]

In [52]:
Tcellsubset1$cycle <- "01"
Tcellsubset2$cycle <- "02"
Tcellsubset3$cycle <- "03"
Tcellsubset4$cycle <- "04"
Tcellsubset5$cycle <- "05"

In [53]:
myTcellsdf <- rbind(Tcellsubset1,
                Tcellsubset2,
                Tcellsubset3,
                Tcellsubset4,
                Tcellsubset5)

In [54]:
myTcellsdf <- myTcellsdf[, c(1,19,2:4,5:18)]

In [55]:
colnames(myTcellsdf)[c(1,4,5,6)] <- c("Patient", "Disease_type", "TE_fold", "Pass")

In [56]:
head(myTcellsdf)

    Patient cycle Age Disease_type TE_fold Pass CD3 EM CM Naïve SCM TE EM% CM%
220 319     01     1  HR ALL       1.4     NA   0   NA NA NA    NA  NA NA  NA
221 320     01     6  AML          8.9     NA   0   NA NA NA    NA  NA NA  NA
222 321     01    16  HD           0       NA   0   NA NA NA    NA  NA NA  NA
223 322     01    18  DLBCL        1.1     NA   0   NA NA NA    NA  NA NA  NA
224 323     01     1  HR ALL       0       NA   0   NA NA NA    NA  NA NA  NA
225 324     01    12  T-ALL        0       NA   0   NA NA NA    NA  NA NA  NA
    Naïve% SCM% TE% Naïve/TE N+CM+SCM/TE+EM
220 NA     NA   NA  NA       NA
221 NA     NA   NA  NA       NA
222 NA     NA   NA  NA       NA
223 NA     NA   NA  NA       NA
224 NA     NA   NA  NA       NA
225 NA     NA   NA  NA       NA

In [57]:
# x = NA
myTcellsdf$EM <- gsub("x", NA, myTcellsdf$EM)
myTcellsdf$CM <- gsub("x", NA, myTcellsdf$CM)
myTcellsdf$SCM <- gsub("x", NA, myTcellsdf$SCM)
myTcellsdf$`Naïve` <- gsub("x", NA, myTcellsdf$`Naïve`)
myTcellsdf$TE <- gsub("x", NA, myTcellsdf$TE)

In [58]:
# make the following columns as.numeric: EM, CM, SCM, Naïve, TE
myTcellsdf$EM <- as.numeric(myTcellsdf$EM)
myTcellsdf$CM <- as.numeric(myTcellsdf$CM)
myTcellsdf$SCM <- as.numeric(myTcellsdf$SCM)
myTcellsdf$`Naïve` <- as.numeric(myTcellsdf$`Naïve`)
myTcellsdf$TE <- as.numeric(myTcellsdf$TE)

In [59]:
write.csv(myTcellsdf,file = paste0(datapath, "Tcells_df.csv"), row.names = F)

## Create master table for clinical and flow data

In [60]:
Tcells <- read.csv(paste0(datapath, "Tcells_df.csv"),
                 header = T, stringsAsFactors = F,check.names = F)

In [61]:
NCRs <- read.csv(paste0(datapath, "NCR_df.csv"),
                 header = T, stringsAsFactors = F,check.names = F)

In [62]:
ATCs <- read.csv(paste0(datapath, "ATC_df.csv"),
                 header = T, stringsAsFactors = F,check.names = F)

In [63]:
ATC_Tcells <- merge(ATCs, Tcells, by = c("Patient", "cycle"))

In [64]:
dim(ATCs)
dim(Tcells)
dim(ATC_Tcells)

[1] 595   4

[1] 595  19

[1] 595  21

In [65]:
head(ATC_Tcells)

  Patient cycle FOLD ATC Age Disease_type TE_fold Pass CD3 EM ... Naïve SCM TE
1 319     1     1.4  0   1   HR ALL       1.4     NA   0   NA ... NA    NA  NA
2 319     2     7.9  0   1   HR ALL       7.9     NA   0   NA ... NA    NA  NA
3 319     3     1.8  0   1   HR ALL       1.8     NA   0   NA ... NA    NA  NA
4 319     4     1.5  0   1   HR ALL       1.5     NA   0   NA ... NA    NA  NA
5 319     5     1.2  0   1   HR ALL       1.2     NA   0   NA ... NA    NA  NA
6 320     1     8.9  0   6   AML          8.9     NA   0   NA ... NA    NA  NA
  EM% CM% Naïve% SCM% TE% Naïve/TE N+CM+SCM/TE+EM
1 NA  NA  NA     NA   NA  NA       NA
2 NA  NA  NA     NA   NA  NA       NA
3 NA  NA  NA     NA   NA  NA       NA
4 NA  NA  NA     NA   NA  NA       NA
5 NA  NA  NA     NA   NA  NA       NA
6 NA  NA  NA     NA   NA  NA       NA

In [66]:
# CD3 entry in Tcells are the correct values
ATC_Tcells_NCR <- merge(ATC_Tcells, NCRs[,!colnames(NCRs)%in% c("Disease_type", "Age", "TE_fold", "Pass", "CD3")], by = c("Patient", "cycle"))

In [67]:
ATC_Tcells_NCR$Pass <- NULL

generate percentages

In [68]:
ATC_Tcells_NCR$`EM%` <- (ATC_Tcells_NCR$EM/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`CM%` <- (ATC_Tcells_NCR$CM/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`SCM%` <- (ATC_Tcells_NCR$SCM/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`TE%` <- (ATC_Tcells_NCR$TE/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`Naïve%` <- (ATC_Tcells_NCR$`Naïve`/ATC_Tcells_NCR$CD3)* 100

ATC_Tcells_NCR$`Naïve/TE` <- ATC_Tcells_NCR$`Naïve`/ATC_Tcells_NCR$TE
ATC_Tcells_NCR$`N+CM+SCM/TE+EM` <- (ATC_Tcells_NCR$`Naïve`+ ATC_Tcells_NCR$CM + ATC_Tcells_NCR$SCM)/(ATC_Tcells_NCR$TE + ATC_Tcells_NCR$EM)

In [69]:
ATC_Tcells_NCR$`PD1%` <- (ATC_Tcells_NCR$`PD-1`/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`PDL1%` <- (ATC_Tcells_NCR$PDL1/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`LAG3%` <- (ATC_Tcells_NCR$LAG3/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`TIM3%` <- (ATC_Tcells_NCR$TIM3/ATC_Tcells_NCR$CD3)* 100
ATC_Tcells_NCR$`CTLA4%` <- (ATC_Tcells_NCR$CTLA4/ATC_Tcells_NCR$CD3)* 100

In [70]:
ATC_Tcells_NCR$FOLD[ATC_Tcells_NCR$FOLD == "x"] <- NA
ATC_Tcells_NCR$FOLD[ATC_Tcells_NCR$FOLD == "X"] <- NA
ATC_Tcells_NCR$TE_fold[ATC_Tcells_NCR$TE_fold == "x"] <- NA
ATC_Tcells_NCR$TE_fold[ATC_Tcells_NCR$TE_fold == "X"] <- NA

In [71]:
ATC_Tcells_NCR$FOLD <- as.numeric(ATC_Tcells_NCR$FOLD)
ATC_Tcells_NCR$TE_fold <- as.numeric(ATC_Tcells_NCR$TE_fold)

In [72]:
head(ATC_Tcells_NCR)

  Patient cycle FOLD ATC Age Disease_type TE_fold CD3 EM CM ... LAG3 TIM3 CTLA4
1 319     1     1.4  0   1   HR ALL       1.4     0   NA NA ... NA   NA   NA
2 319     2     7.9  0   1   HR ALL       7.9     0   NA NA ... NA   NA   NA
3 319     3     1.8  0   1   HR ALL       1.8     0   NA NA ... NA   NA   NA
4 319     4     1.5  0   1   HR ALL       1.5     0   NA NA ... NA   NA   NA
5 319     5     1.2  0   1   HR ALL       1.2     0   NA NA ... NA   NA   NA
6 320     1     8.9  0   6   AML          8.9     0   NA NA ... NA   NA   NA
  PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
1 NA   NA    NA    NA    NA     NA      NA
2 NA   NA    NA    NA    NA     NA      NA
3 NA   NA    NA    NA    NA     NA      NA
4 NA   NA    NA    NA    NA     NA      NA
5 NA   NA    NA    NA    NA     NA      NA
6 NA   NA    NA    NA    NA     NA      NA

In [73]:
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 1] <- "01"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 2] <- "02"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 3] <- "03"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 4] <- "04"
ATC_Tcells_NCR$cycle[ATC_Tcells_NCR$cycle == 5] <- "05"

In [74]:
head(ATC_Tcells_NCR)

  Patient cycle FOLD ATC Age Disease_type TE_fold CD3 EM CM ... LAG3 TIM3 CTLA4
1 319     01    1.4  0   1   HR ALL       1.4     0   NA NA ... NA   NA   NA
2 319     02    7.9  0   1   HR ALL       7.9     0   NA NA ... NA   NA   NA
3 319     03    1.8  0   1   HR ALL       1.8     0   NA NA ... NA   NA   NA
4 319     04    1.5  0   1   HR ALL       1.5     0   NA NA ... NA   NA   NA
5 319     05    1.2  0   1   HR ALL       1.2     0   NA NA ... NA   NA   NA
6 320     01    8.9  0   6   AML          8.9     0   NA NA ... NA   NA   NA
  PD1% PDL1% LAG3% TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3
1 NA   NA    NA    NA    NA     NA      NA
2 NA   NA    NA    NA    NA     NA      NA
3 NA   NA    NA    NA    NA     NA      NA
4 NA   NA    NA    NA    NA     NA      NA
5 NA   NA    NA    NA    NA     NA      NA
6 NA   NA    NA    NA    NA     NA      NA

## Cohort cleanup

In [75]:
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Hepatoblastoma"] <- "HB"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Ewings"] <- "EWS"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Burkitts"] <- "BL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Burkitts "] <- "BL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Burkitt's"] <- "BL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "Wilms"] <- "WILMS"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "B cell lymphoma"] <- "BLL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "B lymphoblastic lymphoma"] <- "BLL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "NBL"] <- "NB"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "aLL"] <- "ALL"

Typos according to DB

In [76]:
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "DLMCL"] <- "DLBCL"
ATC_Tcells_NCR$Disease_type[ATC_Tcells_NCR$Disease_type == "SML"] <- "AML" # according to laurens data

In [77]:
table(ATC_Tcells_NCR$Disease_type)

  ALCL    ALL    AML   ARMS     BL    BLL    CML  DLBCL   ERMS    EWS     HB
    10    115     60      5     20     10     15     15     25     30     20
    HD HR ALL  MS NB     NB     OS  PMBCL    RMS SR ALL  T-ALL  WILMS
    40     70      5     20     60     10     15     15     20     15

In [78]:
leuk <- c("T-ALL", "SR ALL", "HR ALL", "ALL", "AML", "CML")
lymph <- c("ALCL", "BL", "BLL", "PMBCL", "HD", "CLBCL", "DLBCL")
solid <- c("ARMS", "EWS", "HB", "MS NB", "NB", "OS", "RMS", "WILMS", "ERMS")

In [79]:
# cancer group
ATC_Tcells_NCR$cancergroup[ATC_Tcells_NCR$Disease_type %in% leuk] <- "Leukemia"
ATC_Tcells_NCR$cancergroup[ATC_Tcells_NCR$Disease_type %in% lymph] <- "Lymphoma"
ATC_Tcells_NCR$cancergroup[ATC_Tcells_NCR$Disease_type %in% solid] <- "Solid"

In [80]:
ATC_Tcells_NCR$agegroup <- NA

ATC_Tcells_NCR$agegroup[ which(ATC_Tcells_NCR$Age < 2)] <- "< 2 yrs"
ATC_Tcells_NCR$agegroup[ which(ATC_Tcells_NCR$Age >= 2 & ATC_Tcells_NCR$Age < 5)] <- "2-4 yrs"
ATC_Tcells_NCR$agegroup[ which(ATC_Tcells_NCR$Age >= 5 & ATC_Tcells_NCR$Age < 12)] <- "5-11 yrs"
ATC_Tcells_NCR$agegroup[ which(ATC_Tcells_NCR$Age >= 12 & ATC_Tcells_NCR$Age < 18)] <- "12-17 yrs"
ATC_Tcells_NCR$agegroup[ which(ATC_Tcells_NCR$Age >= 18)] <- ">= 18 yrs"

In [81]:
# age group
ATC_Tcells_NCR$foldgroup <- NA
ATC_Tcells_NCR$foldgroup[ ATC_Tcells_NCR$FOLD >= 5] <- "High"
ATC_Tcells_NCR$foldgroup[ ATC_Tcells_NCR$FOLD <= 2] <- "Low"
ATC_Tcells_NCR$foldgroup[ ATC_Tcells_NCR$FOLD > 2 & ATC_Tcells_NCR$FOLD < 5] <- "Indeterminate"

In [82]:
table(ATC_Tcells_NCR$cancergroup, useNA = "always")

Leukemia Lymphoma    Solid     <NA>
     295      105      195        0

In [83]:
ATC_Tcells_NCR$Patient <- paste("CHP_", ATC_Tcells_NCR$Patient, sep = "")

In [84]:
ATC_Tcells_NCR$sample_id <- paste( ATC_Tcells_NCR$Patient, "_", ATC_Tcells_NCR$cycle, sep = "")

In [85]:
head(ATC_Tcells_NCR)

  Patient cycle FOLD ATC Age Disease_type TE_fold CD3 EM CM ... PDL1% LAG3%
1 CHP_319 01    1.4  0   1   HR ALL       1.4     0   NA NA ... NA    NA
2 CHP_319 02    7.9  0   1   HR ALL       7.9     0   NA NA ... NA    NA
3 CHP_319 03    1.8  0   1   HR ALL       1.8     0   NA NA ... NA    NA
4 CHP_319 04    1.5  0   1   HR ALL       1.5     0   NA NA ... NA    NA
5 CHP_319 05    1.2  0   1   HR ALL       1.2     0   NA NA ... NA    NA
6 CHP_320 01    8.9  0   6   AML          8.9     0   NA NA ... NA    NA
  TIM3% CTLA4% Any NCR PD1 + LAG3 + TIM3 cancergroup agegroup foldgroup
1 NA    NA     NA      NA                Leukemia    < 2 yrs  Low
2 NA    NA     NA      NA                Leukemia    < 2 yrs  High
3 NA    NA     NA      NA                Leukemia    < 2 yrs  Low
4 NA    NA     NA      NA                Leukemia    < 2 yrs  Low
5 NA    NA     NA      NA                Leukemia    < 2 yrs  Low
6 NA    NA     NA      NA                Leukemia    5-11 yrs High
  sample_id
1 CHP_319_01
2 CHP_319_02
3 CHP_319_03
4 CHP_319_04
5 CHP_319_05
6 CHP_320_01

# Clinical data

In [86]:
clinical <- xlsx::read.xlsx(paste0(manifestpath, "Toronto expansion and NCR data 4 back up_Lauren_completed_July112023.xlsx"), sheetIndex = 2)

In [87]:
# after cases 320
clinical <- clinical[ clinical$Study >= 319, ]

In [88]:
head(clinical)

   Study. Age.at.Dx. Dx.
20 319     1         HR ALL
21 320     6         AML
22 321    16         HD
23 322    18         DLBCL
24 323     1         HR ALL
25 324    12         T-ALL
   Outcome.as.of.March.2023
20 KMT2A-AFF1 fusion, relapsed August 2018, received Kymriah 12/2018, relapsed at Month 3 CD19- received Inotuzumab, received CART22 August 2019, lineage switch to AML September 2019, passed away October 2019
21 relapse 12/2017, passed away April 2018
22 completed therapy, in CR
23 completed therapy, in CR
24 completed therapy, in CR
25 completed therapy, in CR

In [89]:
clinical$Relapse <- NA #relapse or metastasis
clinical$Relapse[ grepl("relapse", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("EOC positive", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("transplant", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("SCT", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("BMT", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("reoccurance of OS in lungs", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("developed choroid plexus carcinoma", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
#mets
clinical$Relapse[ grepl("localized pulmonary mets", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("metastatic histiocytic neoplasm", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Relapse[ grepl("had metastitis during therapy", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1

clinical$Relapse[is.na(clinical$Relapse)] <- 0

In [90]:
clinical$Transplant <- NA
clinical$Transplant[ grepl("transplant", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Transplant[ grepl("SCT", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Transplant[ grepl("BMT", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1

clinical$Transplant[is.na(clinical$Transplant)] <- 0

In [91]:
clinical$CART <- NA
clinical$CART[ grepl("Kymriah", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$CART[ grepl("CTL019", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$CART[ grepl("CTL119", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1 #typo?

clinical$CART[is.na(clinical$CART)] <- 0

In [92]:
clinical$Remission <- NA
clinical$Remission[ grepl("CR", clinical$Outcome.as.of.March.2023, ignore.case = FALSE) ] <- 1
clinical$Remission[ grepl("Remission", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$Remission[ grepl("doing well", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1 # two CML cases

clinical$Remission[is.na(clinical$Remission)] <- 0

In [93]:
clinical$vital_status <- NA
clinical$vital_status[ grepl("passed away", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1

clinical$vital_status[is.na(clinical$vital_status)] <- 0

In [94]:
clinical$LOF <- NA # lost to follow up
clinical$LOF[ grepl("Lost to follow up", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$LOF[ grepl("moved to Cincinatti.", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$LOF[ grepl("left institution", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$LOF[ grepl("transferred to different hospital during therapy", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1 
clinical$LOF[ grepl("but left CHOP soon after", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1
clinical$LOF[ grepl("left CHOP in 2021", clinical$Outcome.as.of.March.2023, ignore.case = TRUE) ] <- 1

clinical$LOF[is.na(clinical$LOF)] <- 0

In [95]:
clinical$Patient <- paste("CHP_", clinical$Study, sep = "")

In [96]:
ATC_Tcells_NCR$Remission <- clinical$Remission[ match(ATC_Tcells_NCR$Patient, clinical$Patient) ]
ATC_Tcells_NCR$Relapse <- clinical$Relapse[ match(ATC_Tcells_NCR$Patient, clinical$Patient) ]
ATC_Tcells_NCR$Transplant <- clinical$Transplant[ match(ATC_Tcells_NCR$Patient, clinical$Patient) ]
ATC_Tcells_NCR$CART <- clinical$CART[ match(ATC_Tcells_NCR$Patient, clinical$Patient) ]
ATC_Tcells_NCR$vital_status <- clinical$vital_status[ match(ATC_Tcells_NCR$Patient, clinical$Patient) ]
ATC_Tcells_NCR$LOF <- clinical$LOF[ match(ATC_Tcells_NCR$Patient, clinical$Patient) ]

In [97]:
head(ATC_Tcells_NCR)

  Patient cycle FOLD ATC Age Disease_type TE_fold CD3 EM CM ... cancergroup
1 CHP_319 01    1.4  0   1   HR ALL       1.4     0   NA NA ... Leukemia
2 CHP_319 02    7.9  0   1   HR ALL       7.9     0   NA NA ... Leukemia
3 CHP_319 03    1.8  0   1   HR ALL       1.8     0   NA NA ... Leukemia
4 CHP_319 04    1.5  0   1   HR ALL       1.5     0   NA NA ... Leukemia
5 CHP_319 05    1.2  0   1   HR ALL       1.2     0   NA NA ... Leukemia
6 CHP_320 01    8.9  0   6   AML          8.9     0   NA NA ... Leukemia
  agegroup foldgroup sample_id  Remission Relapse Transplant CART vital_status
1 < 2 yrs  Low       CHP_319_01 0         1       0          1    1
2 < 2 yrs  High      CHP_319_02 0         1       0          1    1
3 < 2 yrs  Low       CHP_319_03 0         1       0          1    1
4 < 2 yrs  Low       CHP_319_04 0         1       0          1    1
5 < 2 yrs  Low       CHP_319_05 0         1       0          1    1
6 5-11 yrs High      CHP_320_01 0         1       0          0    1
  LOF
1 0
2 0
3 0
4 0
5 0
6 0

In [98]:
table(clinical$Relapse, useNA = "always")

   0    1 <NA>
  96   23    0

In [99]:
write.csv(ATC_Tcells_NCR,
         file = paste0(datapath, "INT_metadata_flow.csv"),row.names = F)