<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Dependencies" data-toc-modified-id="Dependencies-1">Dependencies</a></span></li><li><span><a href="#Paths" data-toc-modified-id="Paths-2">Paths</a></span></li><li><span><a href="#Main" data-toc-modified-id="Main-3">Main</a></span></li><li><span><a href="#FFPE" data-toc-modified-id="FFPE-4">FFPE</a></span></li><li><span><a href="#PBMC" data-toc-modified-id="PBMC-5">PBMC</a></span></li><li><span><a href="#cfDNA" data-toc-modified-id="cfDNA-6">cfDNA</a></span></li></ul></div>

# Dependencies

In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
library(openxlsx)

In [3]:
source("/Users/anabbi/git/ped_CapTCRseq/R/ggplot2_theme.R")
source("/Users/anabbi/git/ped_CapTCRseq/R/color_schemes.R")

# Paths

In [4]:
datapath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Data/"
plotpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Plots/"
manifestpath <- "/Users/anabbi/OneDrive - UHN/Documents/INTERCEPT/Manifests/"

gitpath <- "/Users/anabbi/git/ped_CapTCRseq/"

# Main

In [5]:
ffpe <- read.xlsx(paste0(datapath, "CHOP Lab Processing Log.xlsx"), sheet = 3)

In [6]:
metadata <- read.csv(file = paste0(datapath, "INT_metadata_flow.csv"),header = T, stringsAsFactors = F)

In [7]:
divstats <- read.csv(paste0(datapath, "capTCRseq/divstats_TRBCHP.csv"), header = T, stringsAsFactors = F, row.names = 1)

# FFPE

In [8]:
# get batch 1
ffpe <- ffpe[ ffpe$Batch == "1",]

In [9]:
#make a dataframe from sample ids
ffpe_samples <- data.frame(ffpe$Pugh.Lab.ID, stringsAsFactors = F)
colnames(ffpe_samples) <- "sample_id"

In [10]:
# add number of samples
ffpe_samples$Shipped <- paste0("n = ", nrow(ffpe_samples))

In [11]:
ffpe_samples

   sample_id Shipped
1  343-B     n = 25
2  344-A     n = 25
3  419       n = 25
4  358       n = 25
5  384       n = 25
6  401       n = 25
7  412       n = 25
8  404-A     n = 25
9  418       n = 25
10 370       n = 25
11 394       n = 25
12 348       n = 25
13 407       n = 25
14 343-A     n = 25
15 385       n = 25
16 344-B     n = 25
17 390       n = 25
18 364       n = 25
19 366       n = 25
20 372       n = 25
21 389       n = 25
22 400       n = 25
23 404-B     n = 25
24 361       n = 25
25 380       n = 25

In [12]:
#add amount DNA extracted
ffpe_samples$DNAextracted <- NA
ffpe_samples$DNAextracted <- ffpe$`DNA.total.(ng)`[ match(ffpe_samples$sample_id,ffpe$Pugh.Lab.ID)]

In [13]:
#add amount DNA used for library
ffpe_samples$DNAused <- NA
ffpe_samples$DNAused <- ffpe$`Amount.of.DNA.used.for.Library.Prep.(ng)`[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID )]

In [14]:
# Add miseq status for libraries
ffpe_samples$librarypassed <- NA
ffpe_samples$librarypassed <- trimws(ffpe$Miseq.for.Library[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID)])

In [15]:
ffpe_samples

   sample_id Shipped DNAextracted DNAused librarypassed
1  343-B     n = 25   1060        500     Passed
2  344-A     n = 25   9280        500     Passed
3  419       n = 25    248        248     Passed
4  358       n = 25  11900        500     Passed
5  384       n = 25   2460        500     Passed
6  401       n = 25   1740        500     Passed
7  412       n = 25   3060        500     Passed
8  404-A     n = 25   1010        500     Passed
9  418       n = 25   3280        500     Passed
10 370       n = 25   2660        500     Passed
11 394       n = 25  12500        500     Passed
12 348       n = 25    736        500     Passed
13 407       n = 25   1160        500     Passed
14 343-A     n = 25    630        500     Passed
15 385       n = 25    516        500     Passed
16 344-B     n = 25  11600        500     Passed
17 390       n = 25    440        440     Passed
18 364       n = 25    692        500     Passed
19 366       n = 25   3260        500     Passed
20 372       n = 25   7320        500     Passed
21 389       n = 25   9220        500     Passed
22 400       n = 25  11400        500     Passed
23 404-B     n = 25    390        390     Passed
24 361       n = 25  33400        500     Passed
25 380       n = 25  29400        500     Passed

In [16]:
# add number of passed libraries
ffpe_samples$Library <- NA
ffpe_samples$Library[ ffpe_samples$librarypassed == "Passed"] <- paste0("n = ", 
                               length(ffpe_samples$librarypassed[ffpe_samples$librarypassed == "Passed"]))

In [17]:
#add total library yield
ffpe_samples$libraryyield <- NA
ffpe_samples$libraryyield <- ffpe$`Total.Library.Yield.(ng)`[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID)]

In [18]:
#amount DNA used for capture
ffpe_samples$DNAforcapture <- NA
ffpe_samples$DNAforcapture <- ffpe$`Amount.of.Library.used.for.Capture.(ng)`[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID)]

In [19]:
#total capture yield
ffpe_samples$captureyield <- NA
ffpe_samples$captureyield <- ffpe$`Total.Capture.Library.Yield.(ng)`[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID)]

In [20]:
# Miseq status for capture
ffpe_samples$capturepassed <- NA
ffpe_samples$capturepassed <- trimws(ffpe$Miseq.for.Capture[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID)])

In [21]:
# Number of passed captures
ffpe_samples$Capture <- NA
ffpe_samples$Capture[ ffpe_samples$capturepassed == "Passed"] <- paste0("n = ", 
                                                                        length(ffpe_samples$capturepassed[ffpe_samples$capturepassed == "Passed"]))

In [22]:
ffpe_samples

   sample_id Shipped DNAextracted DNAused librarypassed Library libraryyield
1  343-B     n = 25   1060        500     Passed        n = 25  258.24
2  344-A     n = 25   9280        500     Passed        n = 25  287.04
3  419       n = 25    248        248     Passed        n = 25  237.12
4  358       n = 25  11900        500     Passed        n = 25  638.40
5  384       n = 25   2460        500     Passed        n = 25  363.84
6  401       n = 25   1740        500     Passed        n = 25  705.60
7  412       n = 25   3060        500     Passed        n = 25  787.20
8  404-A     n = 25   1010        500     Passed        n = 25  811.20
9  418       n = 25   3280        500     Passed        n = 25  792.00
10 370       n = 25   2660        500     Passed        n = 25  472.32
11 394       n = 25  12500        500     Passed        n = 25  528.00
12 348       n = 25    736        500     Passed        n = 25  414.72
13 407       n = 25   1160        500     Passed        n = 25  595.20
14 343-A     n = 25    630        500     Passed        n = 25  166.08
15 385       n = 25    516        500     Passed        n = 25  177.60
16 344-B     n = 25  11600        500     Passed        n = 25  332.16
17 390       n = 25    440        440     Passed        n = 25  220.80
18 364       n = 25    692        500     Passed        n = 25  379.20
19 366       n = 25   3260        500     Passed        n = 25  295.68
20 372       n = 25   7320        500     Passed        n = 25  600.00
21 389       n = 25   9220        500     Passed        n = 25  523.20
22 400       n = 25  11400        500     Passed        n = 25  561.60
23 404-B     n = 25    390        390     Passed        n = 25  532.80
24 361       n = 25  33400        500     Passed        n = 25  442.56
25 380       n = 25  29400        500     Passed        n = 25  391.68
   DNAforcapture captureyield capturepassed Capture
1  258.24        10.070       Passed        n = 23
2  287.04        10.070       Passed        n = 23
3  237.12        10.070       Passed        n = 23
4  617.26        83.220       Passed        n = 23
5  363.84        83.220       Passed        n = 23
6  449.48        10.108       Passed        n = 23
7  550.52        10.108       Passed        n = 23
8  498.41        42.560       Passed        n = 23
9  501.59        42.560       Passed        n = 23
10 472.32         5.282       Passed        n = 23
11 510.50         5.282       Passed        n = 23
12 414.72         6.764       Passed        n = 23
13 568.80         6.764       Passed        n = 23
14 166.08         5.776       Failed        NA
15 177.60         5.776       Failed        NA
16 332.16        10.526       Passed        n = 23
17 220.80        10.526       Passed        n = 23
18 379.20         7.638       Passed        n = 23
19 295.68         7.638       Passed        n = 23
20 530.85        22.040       Passed        n = 23
21 469.15        22.040       Passed        n = 23
22 445.91        15.200       Passed        n = 23
23 532.80        15.200       Passed        n = 23
24 442.56        51.300       Passed        n = 23
25 391.68        51.300       Passed        n = 23

In [23]:
# whether submitted for deep seq
ffpe_samples$deepseq <- NA
ffpe_samples$deepseq <- trimws(ffpe$`Sent.for.Nextseq?`[ match(ffpe_samples$sample_id, ffpe$Pugh.Lab.ID)])
ffpe_samples$deepseq[is.na(ffpe_samples$deepseq)] <- "No"

In [24]:
sum(ffpe_samples$deepseq == "Yes")

[1] 21

In [25]:
# number of deep sequencing samples
ffpe_samples$Sequencing <- NA
ffpe_samples$Sequencing[ ffpe_samples$deepseq == "Yes"] <- paste0("n = ", sum(ffpe_samples$deepseq == "Yes"))

In [26]:
#make a new sample id to match with divstats
ffpe_samples$mysample_id <- paste0("CHP_", ffpe_samples$sample_id, sep = "")
ffpe_samples$mysample_id <- gsub("-", "_", ffpe_samples$mysample_id)

In [27]:
# Samples included in tcr analysis
ffpe_samples$TCR <- NA
ffpe_samples$TCR[ ffpe_samples$mysample_id %in% divstats$sample_id] <- "Yes"
ffpe_samples$TCR[ is.na(ffpe_samples$TCR)] <- "No"

In [28]:
ffpe_samples

   sample_id Shipped DNAextracted DNAused librarypassed Library libraryyield
1  343-B     n = 25   1060        500     Passed        n = 25  258.24
2  344-A     n = 25   9280        500     Passed        n = 25  287.04
3  419       n = 25    248        248     Passed        n = 25  237.12
4  358       n = 25  11900        500     Passed        n = 25  638.40
5  384       n = 25   2460        500     Passed        n = 25  363.84
6  401       n = 25   1740        500     Passed        n = 25  705.60
7  412       n = 25   3060        500     Passed        n = 25  787.20
8  404-A     n = 25   1010        500     Passed        n = 25  811.20
9  418       n = 25   3280        500     Passed        n = 25  792.00
10 370       n = 25   2660        500     Passed        n = 25  472.32
11 394       n = 25  12500        500     Passed        n = 25  528.00
12 348       n = 25    736        500     Passed        n = 25  414.72
13 407       n = 25   1160        500     Passed        n = 25  595.20
14 343-A     n = 25    630        500     Passed        n = 25  166.08
15 385       n = 25    516        500     Passed        n = 25  177.60
16 344-B     n = 25  11600        500     Passed        n = 25  332.16
17 390       n = 25    440        440     Passed        n = 25  220.80
18 364       n = 25    692        500     Passed        n = 25  379.20
19 366       n = 25   3260        500     Passed        n = 25  295.68
20 372       n = 25   7320        500     Passed        n = 25  600.00
21 389       n = 25   9220        500     Passed        n = 25  523.20
22 400       n = 25  11400        500     Passed        n = 25  561.60
23 404-B     n = 25    390        390     Passed        n = 25  532.80
24 361       n = 25  33400        500     Passed        n = 25  442.56
25 380       n = 25  29400        500     Passed        n = 25  391.68
   DNAforcapture captureyield capturepassed Capture deepseq Sequencing
1  258.24        10.070       Passed        n = 23  Yes     n = 21
2  287.04        10.070       Passed        n = 23  Yes     n = 21
3  237.12        10.070       Passed        n = 23  Yes     n = 21
4  617.26        83.220       Passed        n = 23  No      NA
5  363.84        83.220       Passed        n = 23  No      NA
6  449.48        10.108       Passed        n = 23  Yes     n = 21
7  550.52        10.108       Passed        n = 23  Yes     n = 21
8  498.41        42.560       Passed        n = 23  Yes     n = 21
9  501.59        42.560       Passed        n = 23  Yes     n = 21
10 472.32         5.282       Passed        n = 23  Yes     n = 21
11 510.50         5.282       Passed        n = 23  Yes     n = 21
12 414.72         6.764       Passed        n = 23  Yes     n = 21
13 568.80         6.764       Passed        n = 23  Yes     n = 21
14 166.08         5.776       Failed        NA      No      NA
15 177.60         5.776       Failed        NA      No      NA
16 332.16        10.526       Passed        n = 23  Yes     n = 21
17 220.80        10.526       Passed        n = 23  Yes     n = 21
18 379.20         7.638       Passed        n = 23  Yes     n = 21
19 295.68         7.638       Passed        n = 23  Yes     n = 21
20 530.85        22.040       Passed        n = 23  Yes     n = 21
21 469.15        22.040       Passed        n = 23  Yes     n = 21
22 445.91        15.200       Passed        n = 23  Yes     n = 21
23 532.80        15.200       Passed        n = 23  Yes     n = 21
24 442.56        51.300       Passed        n = 23  Yes     n = 21
25 391.68        51.300       Passed        n = 23  Yes     n = 21
   mysample_id TCR
1  CHP_343_B   No
2  CHP_344_A   Yes
3  CHP_419     No
4  CHP_358     No
5  CHP_384     No
6  CHP_401     Yes
7  CHP_412     Yes
8  CHP_404_A   Yes
9  CHP_418     Yes
10 CHP_370     Yes
11 CHP_394     Yes
12 CHP_348     No
13 CHP_407     Yes
14 CHP_343_A   No
15 CHP_385     No
16 CHP_344_B   No
17 CHP_390     Yes
18 CHP_364     Yes
19 CHP_366     Yes
20 CHP_372     Yes
21 CHP_389     Yes
22 CHP_400     Yes
23 CHP_404_B   Yes
24 CHP_361     Yes
25 CHP_380     Yes

In [29]:
# Number of samples included in tcr analysis
ffpe_samples$TCRanalysis <- NA
ffpe_samples$TCRanalysis[ffpe_samples$TCR == "Yes"] <- paste0("n = ", sum(ffpe_samples$TCR == "Yes"))

In [30]:
head(ffpe_samples)

  sample_id Shipped DNAextracted DNAused librarypassed Library libraryyield
1 343-B     n = 25   1060        500     Passed        n = 25  258.24
2 344-A     n = 25   9280        500     Passed        n = 25  287.04
3 419       n = 25    248        248     Passed        n = 25  237.12
4 358       n = 25  11900        500     Passed        n = 25  638.40
5 384       n = 25   2460        500     Passed        n = 25  363.84
6 401       n = 25   1740        500     Passed        n = 25  705.60
  DNAforcapture captureyield capturepassed Capture deepseq Sequencing
1 258.24        10.070       Passed        n = 23  Yes     n = 21
2 287.04        10.070       Passed        n = 23  Yes     n = 21
3 237.12        10.070       Passed        n = 23  Yes     n = 21
4 617.26        83.220       Passed        n = 23  No      NA
5 363.84        83.220       Passed        n = 23  No      NA
6 449.48        10.108       Passed        n = 23  Yes     n = 21
  mysample_id TCR TCRanalysis
1 CHP_343_B   No  NA
2 CHP_344_A   Yes n = 17
3 CHP_419     No  NA
4 CHP_358     No  NA
5 CHP_384     No  NA
6 CHP_401     Yes n = 17

In [31]:
# Number of failed captures
capturefailed <- sum(ffpe_samples$capturepassed == "Failed")
ffpe_samples$Capture[ffpe_samples$capturepassed == "Failed"] <- paste0("n = ", capturefailed)

In [32]:
# Number of samples not deep seq'd
seqfailed <- sum(ffpe_samples$deepseq == "No" & ffpe_samples$capturepassed == "Passed")
ffpe_samples$Sequencing[is.na(ffpe_samples$Sequencing)& 
                        ffpe_samples$capturepassed == "Passed"] <- paste0("n = ", seqfailed)

In [33]:
# Number of samples not included in TCR analysis
tcrfailed <- sum(ffpe_samples$TCR == "No" & 
                 ffpe_samples$deepseq == "Yes" &
                 ffpe_samples$capturepassed == "Passed")

ffpe_samples$TCRanalysis[ffpe_samples$TCR == "No" & 
                         ffpe_samples$deepseq == "Yes" &
                         ffpe_samples$capturepassed == "Passed"] <- paste0("n = ", tcrfailed)

In [34]:
# Create a patient ID
ffpe_samples$Patient <- gsub("_A", "", ffpe_samples$mysample_id)
ffpe_samples$Patient <- gsub("_B", "", ffpe_samples$Patient)

In [35]:
# add tumour type
ffpe_samples$Tumor <- NA
ffpe_samples$Tumor <- metadata$Disease_type[match(ffpe_samples$Patient, metadata$Patient)]

In [36]:
# add tumour group
ffpe_samples$Group <- NA
ffpe_samples$Group <- metadata$group[match(ffpe_samples$Patient, metadata$Patient)]

In [37]:
#remove tumor and group for samples not included in TCR analysis
ffpe_samples$Group[ ffpe_samples$TCR == "No"] <- NA
ffpe_samples$Tumor[ ffpe_samples$TCR == "No"] <- NA

In [38]:
ffpe_samples

   sample_id Shipped DNAextracted DNAused librarypassed Library libraryyield
1  343-B     n = 25   1060        500     Passed        n = 25  258.24
2  344-A     n = 25   9280        500     Passed        n = 25  287.04
3  419       n = 25    248        248     Passed        n = 25  237.12
4  358       n = 25  11900        500     Passed        n = 25  638.40
5  384       n = 25   2460        500     Passed        n = 25  363.84
6  401       n = 25   1740        500     Passed        n = 25  705.60
7  412       n = 25   3060        500     Passed        n = 25  787.20
8  404-A     n = 25   1010        500     Passed        n = 25  811.20
9  418       n = 25   3280        500     Passed        n = 25  792.00
10 370       n = 25   2660        500     Passed        n = 25  472.32
11 394       n = 25  12500        500     Passed        n = 25  528.00
12 348       n = 25    736        500     Passed        n = 25  414.72
13 407       n = 25   1160        500     Passed        n = 25  595.20
14 343-A     n = 25    630        500     Passed        n = 25  166.08
15 385       n = 25    516        500     Passed        n = 25  177.60
16 344-B     n = 25  11600        500     Passed        n = 25  332.16
17 390       n = 25    440        440     Passed        n = 25  220.80
18 364       n = 25    692        500     Passed        n = 25  379.20
19 366       n = 25   3260        500     Passed        n = 25  295.68
20 372       n = 25   7320        500     Passed        n = 25  600.00
21 389       n = 25   9220        500     Passed        n = 25  523.20
22 400       n = 25  11400        500     Passed        n = 25  561.60
23 404-B     n = 25    390        390     Passed        n = 25  532.80
24 361       n = 25  33400        500     Passed        n = 25  442.56
25 380       n = 25  29400        500     Passed        n = 25  391.68
   DNAforcapture captureyield capturepassed Capture deepseq Sequencing
1  258.24        10.070       Passed        n = 23  Yes     n = 21
2  287.04        10.070       Passed        n = 23  Yes     n = 21
3  237.12        10.070       Passed        n = 23  Yes     n = 21
4  617.26        83.220       Passed        n = 23  No      n = 2
5  363.84        83.220       Passed        n = 23  No      n = 2
6  449.48        10.108       Passed        n = 23  Yes     n = 21
7  550.52        10.108       Passed        n = 23  Yes     n = 21
8  498.41        42.560       Passed        n = 23  Yes     n = 21
9  501.59        42.560       Passed        n = 23  Yes     n = 21
10 472.32         5.282       Passed        n = 23  Yes     n = 21
11 510.50         5.282       Passed        n = 23  Yes     n = 21
12 414.72         6.764       Passed        n = 23  Yes     n = 21
13 568.80         6.764       Passed        n = 23  Yes     n = 21
14 166.08         5.776       Failed        n = 2   No      NA
15 177.60         5.776       Failed        n = 2   No      NA
16 332.16        10.526       Passed        n = 23  Yes     n = 21
17 220.80        10.526       Passed        n = 23  Yes     n = 21
18 379.20         7.638       Passed        n = 23  Yes     n = 21
19 295.68         7.638       Passed        n = 23  Yes     n = 21
20 530.85        22.040       Passed        n = 23  Yes     n = 21
21 469.15        22.040       Passed        n = 23  Yes     n = 21
22 445.91        15.200       Passed        n = 23  Yes     n = 21
23 532.80        15.200       Passed        n = 23  Yes     n = 21
24 442.56        51.300       Passed        n = 23  Yes     n = 21
25 391.68        51.300       Passed        n = 23  Yes     n = 21
   mysample_id TCR TCRanalysis Patient Tumor Group
1  CHP_343_B   No  n = 4       CHP_343 NA    NA
2  CHP_344_A   Yes n = 17      CHP_344 BL    Lymphoma
3  CHP_419     No  n = 4       CHP_419 NA    NA
4  CHP_358     No  NA          CHP_358 NA    NA
5  CHP_384     No  NA          CHP_384 NA    NA
6  CHP_401     Yes n = 17      CHP_401 ERMS  Solid
7  CHP_412     Yes n = 17      CHP_412 BLL   Lymphoma
8  CHP_404_A   Yes n = 17      CHP_404 ERMS  Solid
9  CHP_418     Yes n = 17      CHP_418 NB    Solid
10 CHP_370     Yes n = 17      CHP_370 ALCL  Lymphoma
11 CHP_394     Yes n = 17      CHP_394 ERMS  Solid
12 CHP_348     No  n = 4       CHP_348 NA    NA
13 CHP_407     Yes n = 17      CHP_407 DLBCL Lymphoma
14 CHP_343_A   No  NA          CHP_343 NA    NA
15 CHP_385     No  NA          CHP_385 NA    NA
16 CHP_344_B   No  n = 4       CHP_344 NA    NA
17 CHP_390     Yes n = 17      CHP_390 OS    Solid
18 CHP_364     Yes n = 17      CHP_364 OS    Solid
19 CHP_366     Yes n = 17      CHP_366 HD    Lymphoma
20 CHP_372     Yes n = 17      CHP_372 BL    Lymphoma
21 CHP_389     Yes n = 17      CHP_389 HD    Lymphoma
22 CHP_400     Yes n = 17      CHP_400 PMBCL Lymphoma
23 CHP_404_B   Yes n = 17      CHP_404 ERMS  Solid
24 CHP_361     Yes n = 17      CHP_361 HD    Lymphoma
25 CHP_380     Yes n = 17      CHP_380 HD    Lymphoma

In [39]:
#some colname cleanup
colnames(ffpe_samples)[colnames(ffpe_samples) == "Library"] <- "Library preparation"
colnames(ffpe_samples)[colnames(ffpe_samples) == "Capture"] <- "Successful capture"
colnames(ffpe_samples)[colnames(ffpe_samples) == "Sequencing"] <- "Deep sequencing"
colnames(ffpe_samples)[colnames(ffpe_samples) == "TCRanalysis"] <- "TCR analysis"

In [40]:
save(ffpe_samples, file = paste0(gitpath, "data/tumor_sampleprocessing.RData"))

# PBMC

In [41]:
pbmc <- read.xlsx(paste0(datapath, "CHOP Lab Processing Log.xlsx"), sheet = 2)

In [42]:
pbmc$Specimen.ID <- trimws(pbmc$Specimen.ID)

In [43]:
head(pbmc$Specimen.ID)

[1] "330-05" "329-04" "331-05" "331-04" "338-05" "338-04"

In [44]:
dim(pbmc)

[1] 458  61

In [45]:
#CHP_329 is not included in metadata. as per DB, we focused on patients after 330. remove it
pbmc <- pbmc[pbmc$Specimen.ID != "329-04",]

In [46]:
dim(pbmc)

[1] 457  61

In [47]:
pbmc$Colour.Legend <- NULL

In [48]:
missingsamples <- pbmc[ which(pbmc$Missing.Samples == "***Potentially missing! Not found in specified location"),]

In [49]:
missingsamples <- rbind(missingsamples, 
                       pbmc[ which(pbmc$Notes == "Sample 423-02 is missing, this location is sample 413-02"),])

In [50]:
missingsamples

    Shipment.# Batch Original.Box# Original.Box.Location Specimen.ID
456 1          NA    NOT SENT      NA                    331-03
457 1          NA    NOT SENT      NA                    338-01
458 2          NA    Cell Box 2    I5                    423-02
    Date.Frozen Study.Cohort Sample.Type Date.transferred.to.Pugh.Lab
456 NA          NA           NA          NA
457 NA          NA           NA          NA
458 NA          NA           Cell        NA
    Total.Cell.Number ⋯ Final.Capture.Vol.(uL) Total.Capture.Library.Yield.(ng)
456 3300000           ⋯ NA                     NA
457 600000            ⋯ NA                     NA
458 1530000           ⋯ NA                     NA
    Miseq.for.Capture Miseq.Flow.Cell.ID Sent.for.Nextseq?
456 NA                NA                 NA
457 NA                NA                 NA
458 NA                NA                 NA
    Date.Submitted.for.Seq Pugh.Lab.Seq.ID Vol.used.for.sequencing.(uL)
456 NA                     NA              NA
457 NA                     NA              NA
458 NA                     NA              NA
    Vol.Remaining.(uL) Capture.Notes
456 NA                 NA
457 NA                 NA
458 NA                 NA

In [51]:
#remove missing samples
pbmc <- pbmc[ is.na(pbmc$Missing.Samples),]
pbmc <- pbmc[! pbmc$Notes %in% "Sample 423-02 is missing, this location is sample 413-02",]

In [52]:
dim(pbmc)

[1] 454  60

In [53]:
#remove empty entry
pbmc <- pbmc[!is.na(pbmc$Specimen.ID), ]

In [54]:
 length(pbmc$Specimen.ID)

[1] 453

In [55]:
# get total number of samples
pbmc_samples <- data.frame(pbmc$Specimen.ID[!duplicated(pbmc$Specimen.ID)], stringsAsFactors = F)

In [56]:
colnames(pbmc_samples) <- "sample_id"

In [57]:
#number of samples shipped
pbmc_samples$Shipped <- paste0("n = ", nrow(pbmc_samples))

In [58]:
pbmc_samples$sample_id <- trimws(pbmc_samples$sample_id)

In [59]:
pbmc_samples[pbmc_samples == "343-05"]

[1] "343-05"

In [60]:
dim(pbmc_samples)

[1] 320   2

All samples that were shipped according to DB manifest files

In [61]:
allpbmc <- unlist(read.xlsx(paste0(datapath, "allpbmc_fromDB.xlsx"), sheet = 1))

In [62]:
allpbmc <- allpbmc[!is.na(allpbmc)]

In [63]:
names(allpbmc) <- NULL

In [64]:
#typo
allpbmc[ allpbmc == "388-5"] <- "388-05"

In [65]:
length(allpbmc)

[1] 312

312 cancer samples + 14 normal samples = 326. According to the lab log file we have 321.

In [66]:
allpbmc[! allpbmc %in% pbmc_samples$sample_id ]

[1] "335-05" "331-03" "423-02" "329-04" "393-03" "383-01"

In [67]:
pbmc$Miseq.for.Library <- trimws(pbmc$Miseq.for.Library)

Get those with passed libs and capture. Add each failed steps later

In [68]:
table(pbmc$Miseq.for.Library, useNA = "always")

     Failed Failed BioA     On Hold      Passed    Received        <NA>
         29          48          40         306           1          29

In [69]:
libfailed <- pbmc[ which(pbmc$Miseq.for.Library != "Passed"),]

In [70]:
dim(libfailed)

[1] 118  60

In [71]:
pbmc$Miseq.for.Capture <- trimws(pbmc$Miseq.for.Capture)

In [72]:
table(pbmc$Miseq.for.Capture, useNA = "always")

         Failed         Failed?   Not Submitted          Passed Passed Re-Miseq
              6               2              24             276               2
           <NA>
            143

In [73]:
#cleanup
pbmc$Miseq.for.Capture[ pbmc$Miseq.for.Capture == "Failed?"] <- "Failed"
pbmc$Miseq.for.Capture[ pbmc$Miseq.for.Capture == "Passed Re-Miseq"] <- "Passed"

In [74]:
table(pbmc$Miseq.for.Capture, useNA = "always")

       Failed Not Submitted        Passed          <NA>
            8            24           278           143

In [75]:
capfailed <- pbmc[ which(pbmc$Miseq.for.Capture != "Passed"),]

In [76]:
dim(capfailed)

[1] 32 60

In [77]:
#remove failed samples
pbmc <- pbmc[ which(pbmc$Miseq.for.Library == "Passed"),]
pbmc <- pbmc[ which(pbmc$Miseq.for.Capture == "Passed"),]

In [78]:
table(pbmc$Miseq.for.Capture)

Passed
   278

Clean up failedsamples. If samples in libfailed are in cleanup pbmc, remove them. They were failed experiments but the sample eventually survived

In [79]:
libfailed <- libfailed[ !libfailed$Specimen.ID %in% pbmc$Specimen.ID,]

In [80]:
dim(libfailed)

[1] 64 60

In [81]:
#remove those in capture failed df. these were lib preped again, but capture failed
libfailed <- libfailed[ !libfailed$Specimen.ID %in% capfailed$Specimen.ID,]

In [82]:
dim(libfailed)

[1] 61 60

In [83]:
length(unique(libfailed$Specimen.ID))

[1] 39

In [84]:
libfailed_dedup <- libfailed[0,]
# to dedup, keep the most recent entry
for(i in unique(libfailed$Specimen.ID)){
    tmp <- libfailed[ libfailed$Specimen.ID == i,]
    libfailed_dedup <- rbind(libfailed_dedup, tmp[nrow(tmp),])
}

In [85]:
dim(libfailed_dedup)

[1] 39 60

If samples in capfailed are in cleanup pbmc, remove them.

In [86]:
capfailed <- capfailed[!capfailed$Specimen.ID %in% pbmc$Specimen.ID,]

In [87]:
dim(capfailed)

[1]  4 60

In [88]:
p343_05 <- pbmc[ which(pbmc$Specimen.ID == "343-05"),]

One sample duplicated. Keep the one corresponding to batch2_Aug62019/mixcr/clones/CLONES_TRBCHP_343-05-PBMC-DNA.txt

In [89]:
pbmc <- pbmc[ which(pbmc$Specimen.ID != "343-05"),]

In [90]:
pbmc <- rbind(pbmc, p343_05[ p343_05$Original.Box.Location == "G5",])

In [91]:
dim(pbmc)

[1] 277  60

In [92]:
#bind all pbmcs lib and cap failed
allsamples <- rbind(pbmc,libfailed_dedup, capfailed)

In [93]:
allsamples[ duplicated(allsamples$Specimen.ID),]

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     Shipment.# Batch Original.Box# Original.Box.Location Specimen.ID
     Date.Frozen Study.Cohort Sample.Type Date.transferred.to.Pugh.Lab
     Total.Cell.Number ⋯ Final.Capture.Vol.(uL)
     Total.Capture.Library.Yield.(ng) Miseq.for.Capture Miseq.Flow.Cell.ID
     Sent.for.Nextseq? Date.Submitted.for.Seq Pugh.Lab.Seq.ID
     Vol.used.for.sequencing.(uL) Vol.Remaining.(uL) Capture.Notes

In [94]:
#add amount DNA extracted
pbmc_samples$DNAextracted <- NA
pbmc_samples$DNAextracted <- allsamples$`DNA.total.(ng)`[ match(pbmc_samples$sample_id, allsamples$Specimen.ID )]

In [95]:
#add amount DNA used for library
pbmc_samples$DNAused <- NA
pbmc_samples$DNAused <- allsamples$`Amount.of.DNA.used.for.Library.Prep.(ng)`[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [96]:
pbmc_samples$libbatch <- NA
pbmc_samples$libbatch <- allsamples$Library.Miseq.Flow.Cell.ID[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [97]:
head(pbmc_samples$libbatch )

[1] "190517_M04827_0203_000000000-D6BYT" "190517_M04827_0203_000000000-D6BYT"
[3] "190517_M04827_0203_000000000-D6BYT" "190517_M04827_0203_000000000-D6BYT"
[5] "190517_M04827_0203_000000000-D6BYT" "190517_M04827_0203_000000000-D6BYT"

In [98]:
# Add miseq status for libraries
pbmc_samples$librarypassed <- NA
pbmc_samples$librarypassed <- allsamples$Miseq.for.Library[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [99]:
table(pbmc_samples$librarypassed, useNA = "always")

 On Hold   Passed Received     <NA>
      38      281        1        0

In [100]:
# add number of passed libraries
pbmc_samples$Library <- NA
pbmc_samples$Library[ pbmc_samples$librarypassed == "Passed"] <- paste0("n = ", 
                               length(pbmc_samples$librarypassed[which(pbmc_samples$librarypassed == "Passed")]))

In [101]:
#cleanup
pbmc_samples$librarypassed[ pbmc_samples$librarypassed == "On Hold"] <- "Failed"
pbmc_samples$librarypassed[ pbmc_samples$librarypassed == "Received"] <- "Failed"

In [102]:
table(pbmc_samples$librarypassed, useNA = "always")

Failed Passed   <NA>
    39    281      0

In [103]:
# add number of failed libraries
pbmc_samples$Library[ pbmc_samples$librarypassed == "Failed"] <- paste0("n = ", 
                               length(pbmc_samples$librarypassed[which(pbmc_samples$librarypassed == "Failed")]))

In [104]:
#add total library yield
pbmc_samples$libraryyield <- NA
pbmc_samples$libraryyield <- allsamples$`Total.Library.Yield.(ng)`[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [105]:
#amount DNA used for capture
pbmc_samples$DNAforcapture <- NA
pbmc_samples$DNAforcapture <- allsamples$`Amount.of.Library.used.for.Capture.(ng)`[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [106]:
#total capture yield
pbmc_samples$captureyield <- NA
pbmc_samples$captureyield <- allsamples$`Total.Capture.Library.Yield.(ng)`[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [107]:
# Miseq batch for capture
pbmc_samples$capbatch <- NA
pbmc_samples$capbatch <- allsamples$Miseq.Flow.Cell.ID[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [108]:
head(pbmc_samples$capbatch)

[1] "190624_M04827_0214_000000000-D6F66" "190624_M04827_0214_000000000-D6F66"
[3] "190624_M04827_0214_000000000-D6F66" "190624_M04827_0214_000000000-D6F66"
[5] "190624_M04827_0214_000000000-D6F66" "190624_M04827_0214_000000000-D6F66"

In [109]:
# Miseq status for capture
pbmc_samples$capturepassed <- NA
pbmc_samples$capturepassed <- allsamples$Miseq.for.Capture[ match(pbmc_samples$sample_id, allsamples$Specimen.ID)]

In [110]:
# Number of passed captures
pbmc_samples$Capture <- NA
pbmc_samples$Capture[ pbmc_samples$capturepassed == "Passed"] <- paste0("n = ", 
                                                                        length(pbmc_samples$capturepassed[which(pbmc_samples$capturepassed == "Passed")]))

In [111]:
table(pbmc_samples$capturepassed, useNA = "always")

       Failed Not Submitted        Passed          <NA>
            1             3           277            39

In [112]:
# cleanup
pbmc_samples$capturepassed[ which(pbmc_samples$capturepassed == "Not Submitted")] <- "Failed"

In [113]:
table(pbmc_samples$capturepassed, useNA = "always")

Failed Passed   <NA>
     4    277     39

In [114]:
pbmc_samples$deepseq <- NA
pbmc_samples$deepseq <- trimws(pbmc$`Sent.for.Nextseq?`[ match(pbmc_samples$sample_id, pbmc$Specimen.ID)])
#pbmc_samples$deepseq[is.na(pbmc_samples$deepseq)] <- "No"

In [115]:
table(pbmc_samples$deepseq, useNA = "always")

Re-seq    Yes   <NA>
    14    263     43

In [116]:
#clean up
pbmc_samples$deepseq[ pbmc_samples$deepseq == "Re-seq"] <- "Yes"

In [117]:
table(pbmc_samples$deepseq, useNA = "always")

 Yes <NA>
 277   43

In [118]:
table(pbmc_samples$deepseq == "Yes")

TRUE
 277

In [119]:
# number of deep sequencing samples
pbmc_samples$Sequencing <- NA
pbmc_samples$Sequencing[ pbmc_samples$deepseq == "Yes"] <- paste0("n = ", table(pbmc_samples$deepseq == "Yes"))

In [120]:
#make a new sample id to match with divstats
pbmc_samples$mysample_id <- NA

pbmc_samples$mysample_id <- paste0("CHP_", pbmc_samples$sample_id, sep = "")
pbmc_samples$mysample_id <- gsub("-", "_", pbmc_samples$mysample_id)

pbmc_samples$mysample_id[ grepl("YO", pbmc_samples$mysample_id)] <- paste0(
    pbmc_samples$mysample_id[ grepl("YO", pbmc_samples$mysample_id)], "_00")

pbmc_samples$mysample_id[ grepl("MO", pbmc_samples$mysample_id)] <- paste0(
    pbmc_samples$mysample_id[ grepl("MO", pbmc_samples$mysample_id)], "_00")

In [121]:
table(divstats$Sample)

cfDNA  PBMC Tumor
  279   284    17

In [122]:
divstats_pbmc <- divstats[ divstats$Sample == "PBMC",]

In [123]:
dim( divstats_pbmc)

[1] 284  25

In [124]:
# Samples included in tcr analysis
pbmc_samples$TCR <- NA
pbmc_samples$TCR[ pbmc_samples$mysample_id %in% divstats_pbmc$sample_id] <- "Yes"
pbmc_samples$TCR[ is.na(pbmc_samples$TCR)] <- "No"

In [125]:
table(pbmc_samples$TCR, useNA = "always")

  No  Yes <NA>
  47  273    0

In [126]:
head(pbmc_samples)

  sample_id Shipped DNAextracted DNAused libbatch
1 330-05    n = 320 6160         600     190517_M04827_0203_000000000-D6BYT
2 331-05    n = 320 3780         600     190517_M04827_0203_000000000-D6BYT
3 331-04    n = 320 9700         600     190517_M04827_0203_000000000-D6BYT
4 338-05    n = 320 1410         600     190517_M04827_0203_000000000-D6BYT
5 338-04    n = 320 2460         600     190517_M04827_0203_000000000-D6BYT
6 342-04    n = 320 1650         600     190517_M04827_0203_000000000-D6BYT
  librarypassed Library libraryyield captureyield
1 Passed        n = 281  825.6       155.42
2 Passed        n = 281 1161.6       162.64
3 Passed        n = 281 1555.2       162.64
4 Passed        n = 281  508.8       328.70
5 Passed        n = 281  883.2       328.70
6 Passed        n = 281  960.0       144.02
  capbatch                           capturepassed Capture deepseq Sequencing
1 190624_M04827_0214_000000000-D6F66 Passed        n = 277 Yes     n = 277
2 190624_M04827_0214_000000000-D6F66 Passed        n = 277 Yes     n = 277
3 190624_M04827_0214_000000000-D6F66 Passed        n = 277 Yes     n = 277
4 190624_M04827_0214_000000000-D6F66 Passed        n = 277 Yes     n = 277
5 190624_M04827_0214_000000000-D6F66 Passed        n = 277 Yes     n = 277
6 190624_M04827_0214_000000000-D6F66 Passed        n = 277 Yes     n = 277
  mysample_id TCR
1 CHP_330_05  Yes
2 CHP_331_05  Yes
3 CHP_331_04  Yes
4 CHP_338_05  Yes
5 CHP_338_04  Yes
6 CHP_342_04  Yes

In [127]:
pbmc_samples$capturepassed[is.na(pbmc_samples$capturepassed)] <- ""

In [128]:
table(pbmc_samples$capturepassed, useNA = "always")

       Failed Passed   <NA>
    39      4    277      0

In [129]:
# Number of failed captures
capturefailed <- sum(pbmc_samples$capturepassed == "Failed")
pbmc_samples$Capture[pbmc_samples$capturepassed == "Failed"] <- paste0("n = ", capturefailed)

In [130]:
# Number of samples not deep seq'd == 0
seqfailed <- sum(pbmc_samples$deepseq == "No"& pbmc_samples$capturepassed == "Passed")
seqfailed

[1] 0

In [131]:
# Number of samples included in tcr analysis
pbmc_samples$TCRanalysis <- NA

tcrpassed <- sum(pbmc_samples$TCR == "Yes" & 
                 pbmc_samples$deepseq == "Yes" &
                 pbmc_samples$capturepassed == "Passed")

pbmc_samples$TCRanalysis[pbmc_samples$TCR == "Yes" & 
                 pbmc_samples$deepseq == "Yes" &
                 pbmc_samples$capturepassed == "Passed"] <- paste0("n = ", sum(pbmc_samples$TCR == "Yes" & 
                 pbmc_samples$deepseq == "Yes" &
                 pbmc_samples$capturepassed == "Passed"))

the following sample was annotated as Failed capture miseq, but I got the data. For now, I dont include in sankey plot

In [132]:
pbmc_samples[ pbmc_samples$sample_id == "383-03",]

    sample_id Shipped DNAextracted DNAused libbatch
140 383-03    n = 320 7280         600     191104_M04827_0295_000000000-D7FHM
    librarypassed Library libraryyield captureyield
140 Passed        n = 281 35.328       47.12
    capbatch                           capturepassed Capture deepseq Sequencing
140 191121_M04827_0308_000000000-D7HCV Failed        n = 4   NA      NA
    mysample_id TCR TCRanalysis
140 CHP_383_03  Yes NA

In [133]:
table(pbmc_samples$TCRanalysis )

n = 272
    272

In [134]:
# Number of samples not included in TCR analysis
tcrfailed <- sum(pbmc_samples$TCR == "No" & 
                 pbmc_samples$deepseq == "Yes" &
                 pbmc_samples$capturepassed == "Passed")

pbmc_samples$TCRanalysis[pbmc_samples$TCR == "No" & 
                         pbmc_samples$deepseq == "Yes" &
                         pbmc_samples$capturepassed == "Passed"] <- paste0("n = ", tcrfailed)

In [135]:
dim(pbmc_samples)

[1] 320  17

In [136]:
table(pbmc_samples$TCRanalysis, useNA = "always")

n = 272   n = 5    <NA>
    272       5      43

In [137]:
# Create a patient ID
pbmc_samples$Patient <- substr(pbmc_samples$mysample_id, 0,7)

In [138]:
# add tumour type
pbmc_samples$Tumor <- NA
pbmc_samples$Tumor <- metadata$Disease_type[match(pbmc_samples$Patient, metadata$Patient)]

In [139]:
# add tumour group
pbmc_samples$Group <- NA
pbmc_samples$Group <- metadata$group[match(pbmc_samples$Patient, metadata$Patient)]

In [140]:
#remove tumor and group for samples not included in TCR analysis
pbmc_samples$Group[ pbmc_samples$TCR == "No"] <- NA
pbmc_samples$Tumor[ pbmc_samples$TCR == "No"] <- NA

In [141]:
#some colname cleanup
colnames(pbmc_samples)[colnames(pbmc_samples) == "Library"] <- "Library preparation"
colnames(pbmc_samples)[colnames(pbmc_samples) == "Capture"] <- "Successful capture"
colnames(pbmc_samples)[colnames(pbmc_samples) == "Sequencing"] <- "Deep sequencing"
colnames(pbmc_samples)[colnames(pbmc_samples) == "TCRanalysis"] <- "TCR analysis"

In [143]:
save(pbmc_samples, file = paste0(gitpath, "data/pbmc_sampleprocessing.RData"))

# cfDNA

I modified the log file in excel added rm in column C.

In [99]:
cfdna <- read.xlsx(paste0(datapath, "CHOP Lab Processing Log_AN.xlsx"), sheet = 1)

In [100]:
cfdna$Sample.ID <- trimws(cfdna$Sample.ID)

In [101]:
length(cfdna$Sample.ID)

[1] 355

In [102]:
cfdna$Colour.Legend <- NULL

In [103]:
cfdna <- cfdna[ which(cfdna$`Batch.#` != "rm"),]

In [104]:
dim(cfdna)

[1] 316  55

In [105]:
# get total number of samples shipped
cfdna_samples <- data.frame(cfdna$Sample.ID, stringsAsFactors = F)

In [106]:
colnames(cfdna_samples) <- "sample_id"

In [107]:
dim(cfdna_samples)

[1] 316   1

In [108]:
#number of DNA samples extratced
cfdna_samples$DNAsamples <- paste0("n = ", nrow(cfdna_samples))

In [109]:
head(cfdna_samples)

  sample_id DNAsamples
1 346-01    n = 316
2 348-01    n = 316
3 348-03    n = 316
4 343-04    n = 316
5 329-04    n = 316
6 331-05    n = 316

In [110]:
cfdna_samples$sample_id <- trimws(cfdna_samples$sample_id)

All samples that were shipped according to DB manifest files

In [111]:
allcfdna <- unlist(read.xlsx(paste0(datapath, "allcfdna_fromDB.xlsx"), sheet = 1))

In [112]:
allcfdna <- allcfdna[ !is.na(allcfdna)]
allcfdna <- allcfdna[ !grepl("Box", allcfdna)]
allcfdna <- allcfdna[ !grepl("X", allcfdna)]

In [113]:
allcfdna <- gsub(";", "", allcfdna)
allcfdna <- gsub("--", "-", allcfdna)

In [114]:
names(allcfdna) <- NULL

In [115]:
allcfdna <- trimws(allcfdna)

In [116]:
allcfdna[ !allcfdna %in% cfdna_samples$sample_id]

[1] "335-02" "341-05" "339-02" "341-05" "345-05" "406-03" "341-05" "365-04"
[9] "355-05"

Samples above were in the manifest file from DB but were not processed in our lab. Not sure what happened.
335-02 missing. 341-05, 345-05, 365-04 too low dna extracted. 339-02?. 406-03 tube emtpy. 355-05?

In [117]:
cfdna_samples[!cfdna_samples$sample_id %in% allcfdna,]

   sample_id DNAsamples
60 409-02    n = 316
96 364-03    n = 316

samples above were processed in our lab but were not in the manifest file from DB. 

409-02: Sample was not on the Processing log but was in the box.
364-03: Not sure, gotta ask Steph

In [118]:
cfdna$Miseq.for.Library <- trimws(cfdna$Miseq.for.Library)

Get those with passed libs and capture. Add each failed steps later

In [119]:
table(cfdna$Miseq.for.Library, useNA = "always")

  Passed Received     <NA>
     315        1        0

In [120]:
cfdna$Miseq.for.Library[ cfdna$Miseq.for.Library == "Received"] <- "Passed"

In [121]:
cfdna$Miseq.for.Capture <- trimws(cfdna$Miseq.for.Capture)

In [122]:
table(cfdna$Miseq.for.Capture, useNA = "always")

Failed Passed   <NA>
     1    295     20

In [123]:
cfdna$Miseq.for.Capture[ is.na(cfdna$Miseq.for.Capture)] <- "Failed"

In [124]:
capfailed <- cfdna[ which(cfdna$Miseq.for.Capture != "Passed"),]

In [125]:
dim(capfailed)

[1] 21 55

In [126]:
#remove failed samples
cfdna <- cfdna[ which(cfdna$Miseq.for.Library == "Passed"),]
cfdna <- cfdna[ which(cfdna$Miseq.for.Capture == "Passed"),]

In [127]:
table(cfdna$Miseq.for.Capture)

Passed
   295

In [128]:
#bind all cfdna and cap failed
allsamples <- rbind(cfdna, capfailed)

In [129]:
#add amount DNA extracted
cfdna_samples$DNAextracted <- NA
cfdna_samples$DNAextracted <- allsamples$`Total.yield.1+2`[ match(cfdna_samples$sample_id, allsamples$Sample.ID )]

In [130]:
#add amount DNA used for library
cfdna_samples$DNAused <- NA
cfdna_samples$DNAused <- allsamples$`Amount.of.DNA.used.for.library.prep.(ng)`[ match(cfdna_samples$sample_id, allsamples$Sample.ID)]

In [131]:
# Add miseq status for libraries
cfdna_samples$librarypassed <- NA
cfdna_samples$librarypassed <- allsamples$Miseq.for.Library[ match(cfdna_samples$sample_id, allsamples$Sample.ID)]

In [132]:
table(cfdna_samples$librarypassed, useNA = "always")

Passed   <NA>
   316      0

In [133]:
# add number of passed libraries
cfdna_samples$Library <- NA
cfdna_samples$Library[ cfdna_samples$librarypassed == "Passed"] <- paste0("n = ", 
                               length(cfdna_samples$librarypassed[which(cfdna_samples$librarypassed == "Passed")]))

In [134]:
table(cfdna_samples$librarypassed, useNA = "always")

Passed   <NA>
   316      0

In [135]:
#add total library yield
cfdna_samples$libraryyield <- NA
cfdna_samples$libraryyield <- allsamples$`Amount.of.DNA.(ng)`[ match(cfdna_samples$sample_id, allsamples$Sample.ID)]

In [136]:
#amount DNA used for capture
cfdna_samples$DNAforcapture <- NA
cfdna_samples$DNAforcapture <- allsamples$`Amount.of.Library.used.for.Capture.Pooling.(ng)`[ match(cfdna_samples$sample_id, allsamples$Sample.ID)]

In [137]:
#total capture yield
cfdna_samples$captureyield <- NA
cfdna_samples$captureyield <- allsamples$`Amout.(ng)`[ match(cfdna_samples$sample_id, allsamples$Sample.ID)]

In [138]:
# Miseq status for capture
cfdna_samples$capturepassed <- NA
cfdna_samples$capturepassed <- allsamples$Miseq.for.Capture[ match(cfdna_samples$sample_id, allsamples$Sample.ID)]

In [139]:
# Number of passed captures
cfdna_samples$Capture <- NA
cfdna_samples$Capture[ cfdna_samples$capturepassed == "Passed"] <- paste0("n = ", 
                                                                        length(cfdna_samples$capturepassed[which(cfdna_samples$capturepassed == "Passed")]))

In [140]:
table(cfdna_samples$capturepassed, useNA = "always")

Failed Passed   <NA>
    21    295      0

In [141]:
cfdna_samples$capturepassed <- trimws(cfdna_samples$capturepassed)

In [142]:
head(cfdna_samples)

  sample_id DNAsamples DNAextracted DNAused librarypassed Library libraryyield
1 346-01    n = 316    19.5600      20      Passed        n = 316 237.12
2 348-01    n = 316    14.4000      20      Passed        n = 316 159.36
3 348-03    n = 316    24.4944      20      Passed        n = 316 227.52
4 343-04    n = 316    56.0000      20      Passed        n = 316 291.84
5 329-04    n = 316    40.0768      20      Passed        n = 316 314.88
6 331-05    n = 316    82.4000      20      Passed        n = 316 811.20
  DNAforcapture captureyield capturepassed Capture
1     NA            NA       Failed        NA
2 159.36         733.4       Passed        n = 295
3 227.52         733.4       Passed        n = 295
4 291.84        1052.6       Passed        n = 295
5 314.88        1132.4       Passed        n = 295
6 499.13        1565.6       Passed        n = 295

In [143]:
cfdna_samples$deepseq <- NA
cfdna_samples$deepseq <- trimws(cfdna$`Sent.for.Nextseq?`[ match(cfdna_samples$sample_id, cfdna$Sample.ID)])
#pbmc_samples$deepseq[is.na(pbmc_samples$deepseq)] <- "No"

In [144]:
table(cfdna_samples$deepseq, useNA = "always")

 Yes <NA>
 295   21

In [145]:
cfdna_samples$deepseq[ is.na(cfdna_samples$deepseq)] <- "No"

In [147]:
table(cfdna_samples$deepseq == "Yes")

FALSE  TRUE
   21   295

In [148]:
dim(cfdna_samples)

[1] 316  12

In [149]:
paste0("n = ", table(cfdna_samples$deepseq == "Yes"))

[1] "n = 21"  "n = 295"

In [155]:
sum(cfdna_samples$deepseq == "Yes")

[1] 295

In [156]:
# number of deep sequencing samples
cfdna_samples$Sequencing <- NA

cfdna_samples$Sequencing[ cfdna_samples$deepseq == "Yes"] <- paste0("n = ", sum(cfdna_samples$deepseq == "Yes"))

In [157]:
#make a new sample id to match with divstats
cfdna_samples$mysample_id <- NA

cfdna_samples$mysample_id <- paste0("CHP_", cfdna_samples$sample_id, sep = "")
cfdna_samples$mysample_id <- gsub("-", "_", cfdna_samples$mysample_id)

cfdna_samples$mysample_id[ grepl("YO", cfdna_samples$mysample_id)] <- paste0(
    cfdna_samples$mysample_id[ grepl("YO", cfdna_samples$mysample_id)], "_00")

cfdna_samples$mysample_id[ grepl("MO", cfdna_samples$mysample_id)] <- paste0(
    cfdna_samples$mysample_id[ grepl("MO", cfdna_samples$mysample_id)], "_00")

In [158]:
table(divstats$Sample)

cfDNA  PBMC Tumor
  279   284    17

In [159]:
divstats_cfdna <- divstats[ divstats$Sample == "cfDNA",]

In [160]:
dim( divstats_cfdna)

[1] 279  26

In [161]:
# Samples included in tcr analysis
cfdna_samples$TCR <- NA
cfdna_samples$TCR[ cfdna_samples$mysample_id %in% divstats_cfdna$sample_id] <- "Yes"
cfdna_samples$TCR[ is.na(cfdna_samples$TCR)] <- "No"

In [162]:
table(cfdna_samples$TCR, useNA = "always")

  No  Yes <NA>
  37  279    0

In [164]:
table(cfdna_samples$capturepassed, useNA = "always")

Failed Passed   <NA>
    21    295      0

In [165]:
# Number of failed captures
capturefailed <- sum(cfdna_samples$capturepassed == "Failed")
cfdna_samples$Capture[cfdna_samples$capturepassed == "Failed"] <- paste0("n = ", capturefailed)

In [166]:
# Number of samples included in tcr analysis
cfdna_samples$TCRanalysis <- NA

cfdna_samples$TCRanalysis[cfdna_samples$TCR == "Yes" & 
                 cfdna_samples$deepseq == "Yes" &
                 cfdna_samples$capturepassed == "Passed"] <- paste0("n = ", 
                                                                    sum(cfdna_samples$TCR == "Yes" & 
                                                                        cfdna_samples$deepseq == "Yes" &
                                                                        cfdna_samples$capturepassed == "Passed"))

In [167]:
# Number of samples not included in TCR analysis
tcrfailed <- sum(cfdna_samples$TCR == "No" & 
                 cfdna_samples$deepseq == "Yes" &
                 cfdna_samples$capturepassed == "Passed")

cfdna_samples$TCRanalysis[cfdna_samples$TCR == "No" & 
                         cfdna_samples$deepseq == "Yes" &
                         cfdna_samples$capturepassed == "Passed"] <- paste0("n = ", tcrfailed)

In [168]:
dim(cfdna_samples)

[1] 316  16

In [169]:
table(cfdna_samples$TCRanalysis, useNA = "always")

 n = 16 n = 279    <NA>
     16     279      21

In [170]:
cfdna_samples

    sample_id DNAsamples DNAextracted DNAused librarypassed Library
1   346-01    n = 316      19.5600    20      Passed        n = 316
2   348-01    n = 316      14.4000    20      Passed        n = 316
3   348-03    n = 316      24.4944    20      Passed        n = 316
4   343-04    n = 316      56.0000    20      Passed        n = 316
5   329-04    n = 316      40.0768    20      Passed        n = 316
6   331-05    n = 316      82.4000    20      Passed        n = 316
7   330-05    n = 316     114.4864    20      Passed        n = 316
8   350-02    n = 316     115.0065    20      Passed        n = 316
9   352-02    n = 316     173.6080    20      Passed        n = 316
10  343-02    n = 316     161.9982    20      Passed        n = 316
11  319-05    n = 316     242.0000    20      Passed        n = 316
12  350-01    n = 316     316.0080    20      Passed        n = 316
13  349-01    n = 316    1571.2000    20      Passed        n = 316
14  350-03    n = 316      65.4000    20      Passed        n = 316
15  356-05    n = 316     135.7600    20      Passed        n = 316
16  356-03    n = 316     170.3910    20      Passed        n = 316
17  356-04    n = 316     450.8000    20      Passed        n = 316
18  352-01    n = 316    2074.4000    20      Passed        n = 316
19  367-01    n = 316    8709.6000    20      Passed        n = 316
20  354-01    n = 316    9776.0000    20      Passed        n = 316
21  365-03    n = 316      51.1200    20      Passed        n = 316
22  378-01    n = 316     568.1600    20      Passed        n = 316
23  370-02    n = 316      83.7600    20      Passed        n = 316
24  374-03    n = 316     139.8400    20      Passed        n = 316
25  363-01    n = 316     228.4000    20      Passed        n = 316
26  360-02    n = 316     342.4000    20      Passed        n = 316
27  379-01    n = 316     196.4000    20      Passed        n = 316
28  374-05    n = 316     242.8000    20      Passed        n = 316
29  366-02    n = 316     211.2800    20      Passed        n = 316
30  347-01    n = 316     368.1600    20      Passed        n = 316
⋮   ⋮         ⋮          ⋮            ⋮       ⋮             ⋮
287 415-02    n = 316    14.40         8.584  Passed        n = 316
288 378-05    n = 316    16.52         5.880  Passed        n = 316
289 405-03    n = 316    14.72         8.514  Passed        n = 316
290 380-04    n = 316    13.92         9.680  Passed        n = 316
291 407-04    n = 316    16.64        10.752  Passed        n = 316
292 373-03    n = 316    13.92        11.390  Passed        n = 316
293 414-02    n = 316    16.80         9.408  Passed        n = 316
294 386-04    n = 316    18.48        12.096  Passed        n = 316
295 382-04    n = 316    16.16        14.280  Passed        n = 316
296 404-04    n = 316    13.76         7.812  Passed        n = 316
297 397-05    n = 316    15.04         8.112  Passed        n = 316
298 400-03    n = 316    15.68        13.284  Passed        n = 316
299 407-01    n = 316    17.12        12.240  Passed        n = 316
300 412-01    n = 316    18.08        14.872  Passed        n = 316
301 396-04    n = 316     0.40         7.176  Passed        n = 316
302 415-03    n = 316    18.24        12.246  Passed        n = 316
303 392-04    n = 316     0.40         5.520  Passed        n = 316
304 413-02    n = 316     0.40         5.850  Passed        n = 316
305 390-03    n = 316    17.48        15.540  Passed        n = 316
306 382-02    n = 316     0.40         6.072  Passed        n = 316
307 405-05    n = 316    17.92        13.288  Passed        n = 316
308 385-05    n = 316    18.56        12.600  Passed        n = 316
309 385-04    n = 316    17.44        14.362  Passed        n = 316
310 391-03    n = 316    19.20        17.100  Passed        n = 316
311 393-01    n = 316     0.40         7.110  Passed        n = 316
312 403-03    n = 316     0.40         6.536  Passed        n = 316
313 365-05    n = 316     0.60         4.956  Passed        n = 316
314 391-04    n = 316     0.40         3.002  Passed        n = 316
315 378-03    n = 316     0.40         4.928  Passed        n = 316
316 419-01    n = 316     0.40         4.730  Passed        n = 316
    libraryyield DNAforcapture captureyield capturepassed Capture deepseq
1   237.12             NA           NA      Failed        n = 21  No
2   159.36       159.3600       733.40      Passed        n = 295 Yes
3   227.52       227.5200       733.40      Passed        n = 295 Yes
4   291.84       291.8400      1052.60      Passed        n = 295 Yes
5   314.88       314.8800      1132.40      Passed        n = 295 Yes
6   811.20       499.1300      1565.60      Passed        n = 295 Yes
7   120.00             NA         0.00      Failed        n = 21  No
8   241.92       241.9200       805.60      Passed        n = 295 Yes
9   446.40             NA         0.00      Failed        n = 21  No
10  326.40       326.4000      1132.40      Passed        n = 295 Yes
11  288.00             NA         0.00      Failed        n = 21  No
12  200.64             NA         0.00      Failed        n = 21  No
13  327.36       327.3600       801.80      Passed        n = 295 Yes
14  420.48       420.4800      1470.60      Passed        n = 295 Yes
15  580.80       497.7500      1641.60      Passed        n = 295 Yes
16  187.20             NA         0.00      Failed        n = 21  No
17  328.32       328.3200      1052.60      Passed        n = 295 Yes
18  604.80       500.8700      1565.60      Failed        n = 21  No
19  179.52             NA         0.00      Failed        n = 21  No
20   72.00             NA         0.00      Failed        n = 21  No
21  468.48       468.4800      1474.40      Passed        n = 295 Yes
22  590.40       502.2500      1641.60      Passed        n = 295 Yes
23  729.60       521.3000      1398.40      Passed        n = 295 Yes
24  619.20       478.7000      1398.40      Passed        n = 295 Yes
25  375.36       353.6204       181.64      Passed        n = 295 Yes
26  366.72       366.7200       181.64      Passed        n = 295 Yes
27  552.00       529.8050       126.92      Passed        n = 295 Yes
28  489.60       470.2200       126.92      Passed        n = 295 Yes
29  686.40       488.0590       547.20      Passed        n = 295 Yes
30  705.60       511.8540       547.20      Passed        n = 295 Yes
⋮   ⋮            ⋮             ⋮            ⋮             ⋮       ⋮
287  71.04        71.04         163.40      Passed        n = 295 Yes
288  65.28        65.28         163.40      Passed        n = 295 Yes
289 112.32       112.32         482.60      Passed        n = 295 Yes
290 127.68       127.68        1098.20      Passed        n = 295 Yes
291 104.64       104.64        1098.20      Passed        n = 295 Yes
292 144.00       144.00        1098.20      Passed        n = 295 Yes
293 181.44       181.44        1098.20      Passed        n = 295 Yes
294 170.88       170.88         737.20      Passed        n = 295 Yes
295 202.56       202.56         737.20      Passed        n = 295 Yes
296 201.60       201.60         805.60      Passed        n = 295 Yes
297 216.00       216.00         805.60      Passed        n = 295 Yes
298 326.40       326.40        1052.60      Passed        n = 295 Yes
299 331.20       331.20        1052.60      Passed        n = 295 Yes
300 167.04       167.04         210.60      Passed        n = 295 Yes
301 118.08       118.08         210.60      Passed        n = 295 Yes
302 133.44       133.44         150.12      Passed        n = 295 Yes
303 147.84       147.84         150.12      Passed        n = 295 Yes
304 124.80       124.80         507.60      Passed        n = 295 Yes
305 258.24       258.24         225.00      Passed        n = 295 Yes
306 171.84       171.84         225.00      Passed        n = 295 Yes
307 206.40       206.40         255.60      Passed        n = 295 Yes
308 218.88       218.88         255.60      Passed        n = 295 Yes
309 248.64       248.64         446.40      Passed        n = 295 Yes
310 333.12       333.12         446.40      Passed        n = 295 Yes
311  73.92        73.92         741.00      Passed        n = 295 Yes
312  72.48        72.48         741.00      Passed        n = 295 Yes
313  73.44        73.44         855.00      Passed        n = 295 Yes
314  84.96        84.96         855.00      Passed        n = 295 Yes
315 128.64       128.64        1432.60      Passed        n = 295 Yes
316 121.92       121.92        1432.60      Passed        n = 295 Yes
    Sequencing mysample_id TCR TCRanalysis
1   NA         CHP_346_01  No  NA
2   n = 295    CHP_348_01  Yes n = 279
3   n = 295    CHP_348_03  Yes n = 279
4   n = 295    CHP_343_04  Yes n = 279
5   n = 295    CHP_329_04  Yes n = 279
6   n = 295    CHP_331_05  Yes n = 279
7   NA         CHP_330_05  No  NA
8   n = 295    CHP_350_02  Yes n = 279
9   NA         CHP_352_02  No  NA
10  n = 295    CHP_343_02  Yes n = 279
11  NA         CHP_319_05  No  NA
12  NA         CHP_350_01  No  NA
13  n = 295    CHP_349_01  Yes n = 279
14  n = 295    CHP_350_03  Yes n = 279
15  n = 295    CHP_356_05  Yes n = 279
16  NA         CHP_356_03  No  NA
17  n = 295    CHP_356_04  Yes n = 279
18  NA         CHP_352_01  No  NA
19  NA         CHP_367_01  No  NA
20  NA         CHP_354_01  No  NA
21  n = 295    CHP_365_03  Yes n = 279
22  n = 295    CHP_378_01  Yes n = 279
23  n = 295    CHP_370_02  Yes n = 279
24  n = 295    CHP_374_03  Yes n = 279
25  n = 295    CHP_363_01  Yes n = 279
26  n = 295    CHP_360_02  Yes n = 279
27  n = 295    CHP_379_01  Yes n = 279
28  n = 295    CHP_374_05  Yes n = 279
29  n = 295    CHP_366_02  Yes n = 279
30  n = 295    CHP_347_01  No  n = 16
⋮   ⋮          ⋮           ⋮   ⋮
287 n = 295    CHP_415_02  Yes n = 279
288 n = 295    CHP_378_05  Yes n = 279
289 n = 295    CHP_405_03  Yes n = 279
290 n = 295    CHP_380_04  Yes n = 279
291 n = 295    CHP_407_04  Yes n = 279
292 n = 295    CHP_373_03  No  n = 16
293 n = 295    CHP_414_02  Yes n = 279
294 n = 295    CHP_386_04  Yes n = 279
295 n = 295    CHP_382_04  Yes n = 279
296 n = 295    CHP_404_04  Yes n = 279
297 n = 295    CHP_397_05  Yes n = 279
298 n = 295    CHP_400_03  Yes n = 279
299 n = 295    CHP_407_01  Yes n = 279
300 n = 295    CHP_412_01  Yes n = 279
301 n = 295    CHP_396_04  Yes n = 279
302 n = 295    CHP_415_03  Yes n = 279
303 n = 295    CHP_392_04  Yes n = 279
304 n = 295    CHP_413_02  Yes n = 279
305 n = 295    CHP_390_03  Yes n = 279
306 n = 295    CHP_382_02  Yes n = 279
307 n = 295    CHP_405_05  Yes n = 279
308 n = 295    CHP_385_05  Yes n = 279
309 n = 295    CHP_385_04  Yes n = 279
310 n = 295    CHP_391_03  Yes n = 279
311 n = 295    CHP_393_01  Yes n = 279
312 n = 295    CHP_403_03  Yes n = 279
313 n = 295    CHP_365_05  Yes n = 279
314 n = 295    CHP_391_04  Yes n = 279
315 n = 295    CHP_378_03  Yes n = 279
316 n = 295    CHP_419_01  Yes n = 279

In [171]:
# Create a patient ID
cfdna_samples$Patient <- substr(cfdna_samples$mysample_id, 0,7)

In [172]:
# add tumour type
cfdna_samples$Tumor <- NA
cfdna_samples$Tumor <- metadata$Disease_type[match(cfdna_samples$Patient, metadata$Patient)]

In [173]:
# add tumour group
cfdna_samples$Group <- NA
cfdna_samples$Group <- metadata$group[match(cfdna_samples$Patient, metadata$Patient)]

In [174]:
#remove tumor and group for samples not included in TCR analysis
cfdna_samples$Group[ cfdna_samples$TCR == "No"] <- NA
cfdna_samples$Tumor[ cfdna_samples$TCR == "No"] <- NA

In [175]:
#some colname cleanup
colnames(cfdna_samples)[colnames(cfdna_samples) == "DNAsamples"] <- "DNA samples"
colnames(cfdna_samples)[colnames(cfdna_samples) == "Library"] <- "Library preparation"
colnames(cfdna_samples)[colnames(cfdna_samples) == "Capture"] <- "Successful capture"
colnames(cfdna_samples)[colnames(cfdna_samples) == "Sequencing"] <- "Deep sequencing"
colnames(cfdna_samples)[colnames(cfdna_samples) == "TCRanalysis"] <- "TCR analysis"

In [176]:
save(cfdna_samples, file = paste0(gitpath, "data/cfdna_sampleprocessing.RData"))